@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Light'),
		local('Roboto-Light'),
		/* from http://fonts.gstatic.com/s/roboto/v15/1u3JdwK5gXssX_mKAkS1jQ.eot */
		url('Roboto_300.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/d-QWLnp4didxos_6urzFtg.woff */
		url('Roboto_300.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/El-bgsteBznJNL5pgUfFLA.woff2 */
		url('Roboto_300.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=TSynhi0cwS84RjyEABwN_A&skey=11ce8ad5f54705ca&v=v15#Roboto */
		url('Roboto_300.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/dtpHsbgPEm2lVWciJZ0P-A.ttf */
		url('Roboto_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from http://fonts.gstatic.com/s/roboto/v15/3qPfgRJhy_o6IWGjH-pPcw.eot */
		url('Roboto_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/grlryt2bdKIyfMSOhzd1eA.woff */
		url('Roboto_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/N5Lbe1fynPA1KT8BFvAiGw.woff2 */
		url('Roboto_400.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=sMC5TahK-YnY7SbPx1rDHg&skey=a0a0114a1dcab3ac&v=v15#Roboto */
		url('Roboto_400.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/W5F8_SL0XFawnjxHGsZjJA.ttf */
		url('Roboto_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src:
		local('Roboto Medium'),
		local('Roboto-Medium'),
		/* from http://fonts.gstatic.com/s/roboto/v15/-VEgAijTRjK9-9-3hLTcfw.eot */
		url('Roboto_500.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/7KXg6nyyqN8gyMoNwQ7aOQ.woff */
		url('Roboto_500.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/Op9nD2u96-RO01_6Io91EA.woff2 */
		url('Roboto_500.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=kAK2LA-p18lfqmdDhVPAIQ&skey=ee881451c540fdec&v=v15#Roboto */
		url('Roboto_500.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/Uxzkqj-MIMWle-XP2pDNAA.ttf */
		url('Roboto_500.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Bold'),
		local('Roboto-Bold'),
		/* from http://fonts.gstatic.com/s/roboto/v15/tdj9E4ZS3kA_jwupFDm6BQ.eot */
		url('Roboto_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/vxNK-E6B13CyehuDCmvQvw.woff */
		url('Roboto_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/tZdhd9Zzj0I2MwoD56osIw.woff2 */
		url('Roboto_700.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=z9HS6g-Cdj_11n1gWk1lHA&skey=c06e7213f788649e&v=v15#Roboto */
		url('Roboto_700.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/bdHGHleUa-ndQCOrdpfxfw.ttf */
		url('Roboto_700.ttf') format('truetype');
}
