body {
    min-height: 100%;
    background-color: #e1e4e9;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.risktext{
	font-size: 10px;
	margin: 5px;
	line-height: 10px;
	color: black;
}

.top-header{
    float: left;
    width: 100%;
    height: 90px;
    background: #363636;
    text-align: center;
    padding: 20px 0px  14px;
}
.top-header img{
    width: 200px;
}
.section {
    height: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url( http://stpaffiliates.com/public/LPSource/Traders2/img/social-person.png ), -webkit-radial-gradient(circle farthest-corner at 50% 50%, #363636, #000);
    background-image: url( http://stpaffiliates.com/public/LPSource/Traders2/img/social-person.png ), radial-gradient(circle farthest-corner at 50% 50%, #363636, #000);
    background-position: 83% 100%, 0px 0px;
    background-size: auto, auto;
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, scroll;
}
.section .carousel-caption{
    height: 300px;
    width: 560px;
    top: 10%;
    left: 25%;
}
.section .carousel-caption h1{
    margin-bottom: 9px;
    font-family: Oswald, sans-serif;
    color: #0c88a0;
    font-size: 70px;
    line-height: 90px;
    font-weight: 900;
    text-align: left;
}
.section .carousel-caption p{
    font-family: Oswald, sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 58px;
    text-align: left;
}
.section .carousel-caption p span{
    color: #98c93c;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.home-container{
    margin-top: -10%;
    text-align: center;
}
.home-container img{
    float: left;
    width: 60%;
    margin-left: 8%;
}
.contact-form{
    float: left;
    width: 300px;
    margin: 0 0 0 40px;
}
.contact-form input{
    border-radius: 0 !important;
    margin-bottom: 6px;
}
.submit{
    width: 100%;
    border-bottom: 3px solid #405c0c;
    background-image: -webkit-linear-gradient(270deg, #98c93c, #668d1d);
    background-image: linear-gradient(180deg, #98c93c, #668d1d);
    font-family: Oswald, sans-serif;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 rgba(21, 80, 21, .41);
    text-transform: uppercase;
    color: #fff;
    width: 300px;
    height: 50px;
    padding: 15px 0px 35px 0px;
}
.submit:hover {
    background-image: -webkit-linear-gradient(90deg, #98c93c, #668d1d);
    background-image: linear-gradient(0deg, #98c93c, #668d1d);
}
.started-earning{
    float: left;
    width: 100%;
    background: #d67711;
    margin-top: -1px;
    color: #fff;
    padding: 16px 0;
    border-radius: 50px;
    background-color: #0c88a0;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    font-family: Oswald, sans-serif;
    color: #fff;
    font-size: 23px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 10px;
}
.started-earning:hover {
    letter-spacing: 7px;
}
.started-earning h3{
    margin: 0;
}
footer .container img{
    opacity: .6;
    width: 200px;
    float: right;
}
.footer-logo{
   /*opacity: .2 !important;*/
   
}
.footer-container{
    margin-top: 20px;
    border-top: 4px solid #000;
    padding: 20px;
}
.footer-social{
    float:left !important;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-right: 6px;
}

.slogan{
	width: 5px;
	height: 10px;

	}

