body{
    font-family: 'Oswald', serif;
}

.commission-wrapper {
    max-width: 970px;
}

.aboutContent h1 {
    font-family: 'Oswald', serif;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding-bottom:10px;
    padding-top:10px;
    text-transform: uppercase;
    background-color: #116372;
    color: white;
    text-shadow: 2px 0px  4px black;
    max-width: 830px;
    margin: 25px auto;
}

.commission-wrapper .aboutContent h1 {
    max-width: 100%;
}

.aboutContent h1:hover {
    cursor: pointer;
}

.aboutContent p {
    font-family: 'Oswald', serif;
    text-align: justify;
    margin-top: 50px;
    padding: 10px;
    color: #525252;
    max-width: 840px;
    margin: 25px auto;
}
.aboutContent h2{
    font-family: 'Oswald', serif;
}

.aboutContent ul {
    max-width: 840px;
    margin: 0 auto;
}