#personalDetailsContainer{
    display: none;
}
#personalDetailsContainer form textarea{
    resize: none;
}
#changePasswordContainer{
    display: none;
}
#marketingInformationContainer{
    display: none;
}
#marketingInformationContainer form textarea{
    resize: none;
}
#personalInformationContainer form textarea{
    resize: none;
}
#paymentDetailsContainer{
    display: none;
}
#paymentDetailsContainer form textarea{
    resize: none;
}
.updateTrue{
    color:green;
}
.updateFalse{
    color: red;
}
#personalDetailsContainer .register:hover{
    background-color: #16637F;
}
#updatePassword{
    margin-bottom: 25px;
}
#changePasswordContainer .register:hover{
    background-color: #16637F;
}
#paymentDetailsContainer .register:hover{
    background-color: #16637F;
}
#userDetailsUpdateForm .updatingDetailsAnimation{
    width: 100%;
    text-align: center;
    float: left;
}
#userDetailsUpdateForm .updatingDetailsAnimation i{
    color: #0999B4;
    font-size: 40px;
    margin-top: 20px;
    width: 100%;
    margin-left: 0px;
    animation: round 1.5s linear infinite;
}
#updatePasswordForm .changePasswordAnimation{
    width: 70%;
    text-align: center;
    float: left;
}
#updateDetails{
    margin-bottom: 25px;
}
#updatePasswordForm .changePasswordAnimation i{
    color: #0999B4;
    font-size: 40px;
    width: 100%;
    margin-left: 0px;
    animation: round 1.5s linear infinite;
}
#updatePaymentDetails .updatingPaymentAnimation{
    width: 70%;
    text-align: center;
    float: left;
}
#paymentButton{
    margin-bottom: 25px;
}
#updatePaymentDetails .updatingPaymentAnimation i{
    color: #0999B4;
    font-size: 40px;
    width: 100%;
    margin-left: 0px;
    animation: round 1.5s linear infinite;
}
.focused{
    color: white !important;
    letter-spacing: 2px;
    padding-left: 15px;
    background: #0c88a0;
/*    -ms-trasition:padding-left 0.3s linear;
    -moz-transition:padding-left 0.3s linear;
    -o-transition: padding-left 0.3s linear;
    -webkit-transition: padding-left 0.3s linear;
    transition: padding-left 0.3s linear;
    background-image: -ms-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
    background-image: -moz-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
    background-image: -o-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40, rgba(25,88,138,1)), color-stop(80, rgba(13,59,84,1)));
    background-image: -webkit-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
    background-image: linear-gradient(to bottom, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);*/
}
.activePage{
    background-color: #E4E4E4;
}
.focused:hover{
    color: white !important;
    background-color: #0c88a0 !important;

}

.menu-home {
    padding: 16px 0;
}

/*  PERSONAL DETAILS  */
.mainGlyphicon{
    padding: 5px;
    font-size: 35px;
    vertical-align: middle;
}
.detailsGlyphicon{
    font-size: 20px;
    padding: 5px;
    margin-left: 5%;
}
.mainDetailsHeader{
    width: 100%;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    background: #0c88a0;
/*    background-image: -ms-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
    background-image: -moz-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
    background-image: -o-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40, rgba(25,88,138,1)), color-stop(80, rgba(13,59,84,1)));
    background-image: -webkit-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
    background-image: linear-gradient(to bottom, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);*/
}
.detailsHeader{
    width: 100%;
    font-size: 20px;
    text-align: left;
    color: white;
    letter-spacing: 2px;
    margin-top: 20px;
    background-color: #faa954;
    padding: 5px 0;
}
@keyframes round{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
.animated {
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-duration: 1s;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.bounceInUp {
    -webkit-animation-name: bounceInUp;
    -moz-animation-name: bounceInUp;
    -ms-animation-name: bounceInUp;
    -o-animation-name: bounceInUp;
    animation-name: bounceInUp;
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -ms-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
/*RESPONSIVE*/
@media(max-width:1199px) {
    .login-info, .top-menu {
        text-align: center;
    }
    
    .top-menu-bg ul {
        display: inline-block;
        float: none;
    }
    
}
@media(max-width:1380px){
}
@media(max-width:770px){
}