.border-input {
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 50%;
    height: 35px;
    margin: 20px 0;
}

.row {
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    height: 35px;
}

.removeBanner {
    margin-left: 20px;
}

.delete-list {
    margin-top: -55px;
}