table th{
    border-left: 2px solid white;
    border-right: 2px solid white;
}
table td{
    border-bottom: 1px solid #BABABA !important;
}
tr:nth-child(even) {background: #EDEDED;}
.reportTable{
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 5px;
}
.headerTable{
    font-size: 25px;
    background-color: #02AD8B;
    color: white;
}
.headerTable th{
    text-align: center;
    font-weight: 300;
}
.parentDivReport{
    width: 100%;
    /*margin-left: 5%;*/
    font-size: 20px;
    display: block;
    float: left;
    margin-top: 100px;
}
.parentDivReport .data{
    text-align: center;
    /*    background-image: -ms-linear-gradient(bottom, rgba(43,43,43,1) 40%, rgba(100,100,100,1) 80%);
        background-image: -moz-linear-gradient(bottom, rgba(43,43,43,1) 40%, rgba(100,100,100,1) 80%);
        background-image: -o-linear-gradient(bottom, rgba(43,43,43,1) 40%, rgba(100,100,100,1) 80%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40, rgba(43,43,43,1)), color-stop(80, rgba(100,100,100,1)));
        background-image: -webkit-linear-gradient(bottom, rgba(43,43,43,1) 40%, rgba(100,100,100,1) 80%);
        background-image: linear-gradient(to top, rgba(43,43,43,1) 40%, rgba(100,100,100,1) 80%);*/
    background-color: #D7D7D7;
}
.parentDivReport div div{
    display: inline-block;
    width: 33%;
    margin: auto;
    padding: 5px;
}
.parentHeader{
    width: 100%!important;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    /*    background-image: -ms-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
        background-image: -moz-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
        background-image: -o-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40, rgba(25,88,138,1)), color-stop(80, rgba(13,59,84,1)));
        background-image: -webkit-linear-gradient(top, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);
        background-image: linear-gradient(to bottom, rgba(25,88,138,1) 40%, rgba(13,59,84,1) 80%);*/
    background-color: #0999B4;
    color: white;
}
.extraCPA{
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.parentHeader p{
    display: inline-block;
    width: 33%;
    margin: 0px;
    text-align: center;
}
.noItems{
    width: 80%;
    margin-left: 10%;
    font-size: 25px;
    text-align: center;
}
.glyphicon-warning-sign{
    color: red;
}
.messageText{
    width: 80%;
    margin-left: 10%;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.fa-exclamation-circle{
    color: red;
}