table th{
    border-left: 2px solid white;
    border-right: 2px solid white;
}
table td{
    border-bottom: 1px solid #BABABA !important;
}
tr:nth-child(even) {background: #EDEDED;}
.reportTable{
    width: 80%;
    margin-left: 10%;
    margin-top: 120px;
    font-size: 14px;
    text-align: center;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 5px;
}

.menu-home {
    padding: 16px 0;
}

.headerTable{
    font-size: 16px;
    background-color: #02AD8B;
    color: white;
}

.blue-table {
    background-color: #0999B4;
}

.headerTable th{
    text-align: center;
    font-weight: 300;
}
.parentDivReport{
    width: 100%;
    /*margin-left: 5%;*/
    font-size: 14px;
    margin-top: 100px;
}
.parentDivReport .data{
    text-align: center;
    background-color: #D7D7D7;
}
.parentDivReport div div{
    display: inline-block;
    width: 24%;
    margin: auto;
    padding: 5px;
}
.parentHeader{
    width: 100%!important;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #0999B4;
    color: white;
}

.parentHeader p{
    display: inline-block;
    width: 24%;
    margin: 0px;
    text-align: center;
    border-right: 2px solid white;
}
.parentHeader p:last-child{
    border-right: none;
}
.noItems{
    width: 100%;
    display: block;
    font-size: 25px;
    text-align: center;
}
.glyphicon-warning-sign{
    color: red;
}
.messageText{
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    display: block;
    float: left;
}
.fa-exclamation-circle{
    color: red;
}
.printButton {
    padding: 10px 40px;
    background: #0999B4;
    color: #fff;
    margin: 30px 0 60px 0;
    border-radius: 3px;
    margin-left: 10%;
}
.getReportButton {
    padding: 10px 40px;
    background: #0999B4;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 30px 0 20px 0;
    border-radius: 3px;
}
.getReportButton:hover{
    transition: all .5s linear;
    background-color: #007EC6;
    text-shadow: 0px 0 3px black;
}
.PDFreport{
    margin-left: 35%; 
    padding: 10px 40px;
    background: #007299;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 30px 0 20px 0;
    border-radius: 3px;
}
.PDFreport:hover{
    transition: all .5s linear;
    background-color: #0999B4;
    text-shadow: 0px 0 3px black;
}
.print-report{
    text-align: center;
}
.chooseDateForm{
    padding: 0 30%;
}
/* responsive */
@media(max-width: 1199px) {
    
    .login-info {
        text-align: center;
    }
    
    .top-menu {
        text-align: center;
    }
    
    .top-menu-bg ul {
        display: inline-block;
        float: none;
    }
    
    
}


@media(max-width:380px){
    .account-details p, .account-details h3{
        visibility: hidden;
    }
}



