.menu-home {
    padding: 16px 0;
}

.contentHolder{
    display: block;
    float: left;
    width: 80%;
    margin-left: 10%;
    font-family: "Poppins",sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}
.background {
    background-color: #EEEEEE;
}
.infoText h1, .contactFormContainer h1 {
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
    background-color: #0999B4;
}

.infoText h1:after, .contactFormContainer h1:after {
    display: none;
}

.infoText p, .contactFormContainer p {
    width: 60%;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 50px auto;
}
.infoText h3{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
}
.infoText h4{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins",sans-serif;
    color: #0063B0;
}
.infoText div{
    margin-top: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.infoText div a{
    font-size: 20px;
    color: #333333;
    margin-left: 10px;
}
.infoText div a:hover{
    transition: all .3s ease-in;
    color: #0999B4;
}
.contactFormContainer form div{
    width: 70%;
    margin: 20px auto;
}
.contactFormContainer form div label{
    font-size: 20px;
    color: black;
    font-weight: 400;
}
.contactFormContainer form div input{
    border-radius: 0px;
    height: 40px;
    font-size: 18px;
    font-family: "Poppins",sans-serif;
}
input[type="text"]::-webkit-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="email"]::-webkit-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
textarea::-webkit-input-placeholder{
    color: #999999;
    font-size: 20px;
    letter-spacing: 1px;
}
input[type="text"]::-moz-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="email"]::-moz-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
textarea::-moz-input-placeholder{
    color: #999999;
    font-size: 20px;
    letter-spacing: 1px;
}
input[type="text"]::-ms-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="email"]::-ms-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
textarea::-ms-input-placeholder{
    color: #999999;
    font-size: 20px;
    letter-spacing: 1px;
}
input[type="text"]::-o-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
    font-weight: normal;
}
input[type="email"]::-o-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
textarea::-o-input-placeholder{
    color: #999999;
    font-size: 20px;
    letter-spacing: 1px;
}
.contactFormContainer form button{
    border-radius: 0px;
    height: 40px;
    font-size: 18px;
    background-color: #0999B4;
    color: white;
    font-weight: 300;
    border: none;
    letter-spacing: 1px;
    font-family: "Poppins",sans-serif;
}
.contactFormContainer form textarea{
    border-radius: 0px;
    font-family: "Poppins",sans-serif;
}
.contactFormContainer form button:hover{
    background-color: #116372; 
    color: white;
    border: none;
}
.contactFormContainer form button:active{
    background-color: #116372 !important; 
    color: white !important;
    border: none;
    outline: none;
}
.contactFormContainer form button:visited{
    background-color: #116372 !important; 
    color: white !important;
    border: none;
    outline: none;
}
.contactFormContainer form button:focus{
    background-color: #116372 !important; 
    color: white !important;
    border: none;
    outline: none;
}
.sendingMailAnimation .fa{
    margin-left: 50px;
    font-size: 40px;
    color: #0999B4;
    animation: round 1.5s linear infinite;
}
@keyframes round{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
.animated {
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;

    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-duration: 1s;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@media(max-width:1199px) {
    .login-info, .top-menu {
        text-align: center;
    }
    
    .top-menu-bg ul {
        display: inline-block;
        float: none;
    }
    
}