body{
    margin: 0px;
    /*min-width: 420px;*/
    font-weight: normal;
}
/*.bottleMessage{
    width: 100%;
    height: 350px;
    float: left;
    background-image: url('../img/messageUs.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}*/
.contactUsInfoBar{
    display: block;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
    margin-bottom: 0px;
    background-color: #116372;
}
.content{
    float: none;
}
.content p{
    text-align: left;
    margin-bottom: 20px;
}
.formContainer label{
    vertical-align: middle;
    color: #535353;
    padding: 20px;
    margin-top: 7px;
}
.mailUsInfo {
    margin: 40px 0;
    padding: 0 8%;
}

.formContainer {
    margin: 40px 0;
}
.mailUsInfo div{
    line-break: normal;
    text-align: justify;
    line-height: 25px;
    color: #535353;
}
.emailUs{
    font-family: 'Oswald', serif;
    color: white;
    font-size: 38px;
    text-align: center;
    border-right: 2px solid #ffffff;
    text-shadow: 2px 0px 4px black;
}
.emailUs span{
    font-size: 40px;
    vertical-align: text-bottom;
    padding: 5px;
}
.ReachUs{
    font-family: 'Oswald', serif;
    color: white;
    font-size: 38px;
    text-align: center;
    border-right: 2px solid #ffffff;
    text-shadow: 2px 0px 4px black;
}
input[type="tel"]::-webkit-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}

input[type="text"]::-webkit-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="email"]::-webkit-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
textarea::-webkit-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="text"]::-moz-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="email"]::-moz-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
textarea::-moz-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="tel"]::-moz-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="text"]::-ms-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="email"]::-ms-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
textarea::-ms-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="tel"]::-ms-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="text"]::-o-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
    font-weight: normal;
}
input[type="email"]::-o-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
textarea::-o-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
input[type="tel"]::-o-input-placeholder{
    color: #999999;
    letter-spacing: 1px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-horizontal input{
    font-family: inherit;
    border-radius: 0px;
    width: 60%;
}

.modal-body .form-horizontal input, .modal-body .form-horizontal select, .modal-body .form-horizontal textarea {
    width: 100%;
}

.form-horizontal textarea{
    font-family: inherit;
    border-radius: 0px;
    width: 60%;
}
.form-horizontal select{
    font-family: inherit;
    border-radius: 0px;
    width: 60%;
}
.form-horizontal label{
    font-family: inherit;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 0px;
}
.ReachUs span{
    color: white;
    font-size: 40px;
    vertical-align: text-bottom;
    padding: 5px;
}
.mailUsInfo div{
    font-size: 20px;
    text-align: justify;
}
.minWidth{
    min-width: 245px;
}
.btn{
    font-family: inherit;
    font-weight: normal;
    letter-spacing: 1px;
}
optgroup{
    font-weight: normal;
}
/*.formContainer{
    width: 100%;
    float: left;
    padding: 0 20%;
}*/
.formContainer form button{
    background-color: #0999B4;
    border-radius: 0px;
    border:none;
}
.formContainer form button:active,.formContainer form button:focus{
    background-color: #0999B4;
}
.sendingMailAnimation .fa{
    margin-left: 50px;
    font-size: 40px;
    color: #0999B4;
    margin-top: 10px;
    animation: round 1.5s linear infinite;
}
.contact-button{
    margin-top: 20px;
}
@keyframes round{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animated {
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-duration: 1s;
}
.form-horizontal {
    padding-left: 15px;
}

@media screen and (max-width:1560px){
    .form-horizontal label{
        width: 25%;
    }
    .form-horizontal button{
        margin-left: 65%;
    }

}
@media screen and (max-width:1460px){  
    .form-horizontal button{
        margin-left: 65%;
    }
    .inner-top-img img{
        height: 150px;
    }
   
    
    
    
}

@media screen and (max-width:1200px){
    .mailUsInfo .map {
        max-width: 100%;
    }
    .inner-top-img img{
        height: 150px;
    }
    .form-group .control-label{
        width: 35%;
        padding-left: 0;
        display: block;
        text-align: left;
        padding-bottom: 10px;
    }
    .form-horizontal button{
        margin-left: 0;
    }
    .form-horizontal input, .form-horizontal select, .form-horizontal textarea {
        width: 100%;
    }
}

@media screen and (max-width:991px){
    .ReachUs{
        display: none;
    }
    .mailUsInfo{
        display: none;
    }
    .emailUs{
        width: 100%;
        border: none;
    }
    .formContainer{
        width: 100%;
    }
    .inner-top-img img{
        height: 150px;
    }
   


}
@media screen and (max-width:560px){
    .form-horizontal{
        padding: 10px;
    }
    .form-horizontal label{
        width: 80%;
        margin: 0px;
        display: block;
        float: left;
        padding-bottom: 10px; 
    } 
    .form-horizontal input{
        width: 100%;
        margin: 0px;
        display: block;
        float: left;
    }
    .form-horizontal select{
        width: 100%;
        margin: 0px;
        display: block;
        float: left;
    }
    .form-horizontal textarea{
        width: 100%;
        margin: 0px;
        display: block;
        float: left;
    }
}
@media screen and (max-width:380px){
    .pull-right{
        width: auto;
        display: block;
        float: left;
        margin-top: -18px;
        left: -37%;
    }
    .inner-top-img img{
        height: 100px;
    }
    
    .form-horizontal .control-label{
        width: 80%;
    }
    
}