.create-campaign, .edit-campaign {
    padding: 22px 0;
    margin: 0 15px;
}

.modal-body input, select {
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 50%;
    height: 35px;
    margin: 20px 0;
}

body .campaign-banner, #campaignMailer, #campaignLandingPage {
    border: none;
    display: inline-block;
    width: auto;
}