.editPartnerContainer {
    min-height: 100vh;
}

.top-menu-bg .nav > li > a:hover, .nav > li > a:focus {
    color: #fff!important;
}

.dashboard-logo {
    background: #1990cf;
    padding: 10px;
    overflow: hidden;
}

.dashboard-logo span {
    color: #404040;
    font-family: 'Oswald', serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
}

#searchForm, #partnerResult > form {
    overflow: hidden;
    padding: 50px 0;
}

#partnerResult > form:nth-child(2n+1) {
    background-color: #eee;
}

#partnerResult .form-control {
    background-color:#E0E1DF;
}

#partnerResult > form:nth-child(2n+1) .form-control, #partnerResult > form:nth-child(2n+1) textarea {
    background-color: #fff;
}

.pendingRequests span, .editPartner span {
    margin-left: 10px;
}

.adminLogoutButton {
    float: right;
}

.adminLogoutButton input {
    background-color: #0063B0 !important;
    color: white;
    border: 2px solid white;
}

.dashboard-title {
    margin-right: 50px;
}

.dashboard-menu {
    border-radius: 0;
    margin: 0;
    background-image: none;
}

.dashboard-menu .navbar-header {
    margin: 0;
    padding: 20px;
}

.dashboard-menu .navbar-nav>li>a {
    padding: 35px 20px;
}

.pendingForm > form {
    overflow: hidden;
    padding: 50px 0;
}

.forms-wrapper {
    overflow: hidden;
    position: relative;
    padding: 50px 0;
}

.forms-wrapper > form:last-child {
    position: absolute;
    bottom: 37px;
    right: 16%;
    width: 200px;
}

.pendingForm > .forms-wrapper:nth-child(even), #partnerResult .forms-wrapper:nth-child(even) {
    background-color: #eee;
}

.forms-wrapper:nth-child(2n) .form-control {
    background-color: #fff;
}

.pendingForm .form-group {
    width: 50%;
    float: left;
    padding: 0 50px;
}

.register-button-home {
    padding: 0 50px;
}

.left-group {
    float: left!important;
}

.pendingForm input, .pendingForm textarea {
    width: 80%;
}

.panding-request input {
    margin: 0 35px;
}

.register {
    float: none;
    max-width: 150px;
}

#paymentDetailsContainer .form-group, #partnerResult .payment-info {
    float: none;
    margin: 0 50px;
    padding: 0;
    width: 30%;
    cursor: pointer;
}

#searchForm .submit-group {
    width: 100%;
}

.delete-list {
    padding: 21px 0;
}

#listCamp {
    width: 80%;
}

@media (max-width: 768px) {
    .pendingForm .form-group {
        width: 100%;
        float: none;
        padding: 0 30px;
    }
    
    .pendingForm .form-control, .pendingForm textarea {
        width: 100%;
    }
}