/* DatePicker Container */
#ui-datepicker-div {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #000;
    margin-top: 10px;
}

.ui-datepicker-calendar tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.ui-datepicker-calendar th {
    border-left: none;
    border-right: none;
}

.ui-datepicker-calendar td {
    text-align: center;
    padding: 10px 15px;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-image: url('../img/arrow.png');
	background-repeat: no-repeat;
	line-height: 600%;
	overflow: hidden;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}
