/*------------------------------------*\
-------- Base
\*------------------------------------*/
/*------------------------------------*\
-------- Typpography
\*------------------------------------*/
/*------------------------------------*\
-------- UI
\*------------------------------------*/
/* line 2, ../scss/1-base/_extends.scss */
.site-header:after, .main:after, .clearfix:after, .clearfix {
    display: block;
    clear: both;
    content: '';
}

/* line 25, ../scss/1-base/_extends.scss */
.fa-icon, [class^="fa-"]:before {
    display: inline-block;
    position: relative;
    font-family: "FontAwesome";
    font-weight: normal;
    line-height: 95%;
}

/* line 2, ../scss/1-base/_reset.scss */
*, *:before, *:after {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px;
    font-size: 100%;
    font: inherit;
}

/*------------------------------------*\
-------- Framework
\*------------------------------------*/
/* line 2, ../scss/2-framework/_typography.scss */
body, input {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #525252;
    line-height: 100%;
}

/* line 5, ../scss/2-framework/_typography.scss */
h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a {
    font-family: 'Oswald', sans-serif;
    color: #0999b4;
    line-height: 1.200em;
    margin-bottom: 20px;
}

/* line 11, ../scss/2-framework/_typography.scss */
h1 {
    font-size: 38.08px;
}

/* line 12, ../scss/2-framework/_typography.scss */
h2 {
    font-size: 2.000em;
}

/* line 13, ../scss/2-framework/_typography.scss */
h3 {
    font-size: 25.6px;
}

/* line 14, ../scss/2-framework/_typography.scss */
h4 {
    font-size: 22px;
}

/* line 15, ../scss/2-framework/_typography.scss */
h5 {
    font-size: 17.6px;
}

/* line 18, ../scss/2-framework/_typography.scss */
p {
    font-size: 18px;
    line-height: 1.750em;
}

/* line 19, ../scss/2-framework/_typography.scss */
p + p {
    margin-top: 20px;
}

/* line 21, ../scss/2-framework/_typography.scss */
ul li, ol li {
    margin: 10px 0px 10px 40px;
    font-size: 0.933em;
    line-height: 1.650em;
}

/* line 23, ../scss/2-framework/_typography.scss */
ul + p, ol + p,
p + h1, p + h2, p + h3, p + h4, p + h5 {
    margin-top: 30px;
}

/* line 26, ../scss/2-framework/_typography.scss */
p + ul, p + ol {
    margin-top: 10px;
}

/* line 28, ../scss/2-framework/_typography.scss */
strong {
    font-weight: 700;
}

/* line 29, ../scss/2-framework/_typography.scss */
em {
    font-style: italic;
}

/* line 30, ../scss/2-framework/_typography.scss */
a {
    color: #3C8FC7;
    text-decoration: none;
}

/* line 31, ../scss/2-framework/_typography.scss */
a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/fontawesome-webfont.eot");
    src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf?") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* line 18, ../scss/2-framework/_font-awesome.scss */
.fa-glass:before {
    content: "\f000";
}

/* line 21, ../scss/2-framework/_font-awesome.scss */
.fa-music:before {
    content: "\f001";
}

/* line 24, ../scss/2-framework/_font-awesome.scss */
.fa-search:before {
    content: "\f002";
}

/* line 27, ../scss/2-framework/_font-awesome.scss */
.fa-envelope-o:before {
    content: "\f003";
}

/* line 30, ../scss/2-framework/_font-awesome.scss */
.fa-heart:before {
    content: "\f004";
}

/* line 33, ../scss/2-framework/_font-awesome.scss */
.fa-star:before {
    content: "\f005";
}

/* line 36, ../scss/2-framework/_font-awesome.scss */
.fa-star-o:before {
    content: "\f006";
}

/* line 39, ../scss/2-framework/_font-awesome.scss */
.fa-user:before {
    content: "\f007";
}

/* line 42, ../scss/2-framework/_font-awesome.scss */
.fa-film:before {
    content: "\f008";
}

/* line 45, ../scss/2-framework/_font-awesome.scss */
.fa-th-large:before {
    content: "\f009";
}

/* line 48, ../scss/2-framework/_font-awesome.scss */
.fa-th:before {
    content: "\f00a";
}

/* line 51, ../scss/2-framework/_font-awesome.scss */
.fa-th-list:before {
    content: "\f00b";
}

/* line 54, ../scss/2-framework/_font-awesome.scss */
.fa-check:before {
    content: "\f00c";
}

/* line 57, ../scss/2-framework/_font-awesome.scss */
.fa-times:before {
    content: "\f00d";
}

/* line 60, ../scss/2-framework/_font-awesome.scss */
.fa-search-plus:before {
    content: "\f00e";
}

/* line 63, ../scss/2-framework/_font-awesome.scss */
.fa-search-minus:before {
    content: "\f010";
}

/* line 66, ../scss/2-framework/_font-awesome.scss */
.fa-power-off:before {
    content: "\f011";
}

/* line 69, ../scss/2-framework/_font-awesome.scss */
.fa-signal:before {
    content: "\f012";
}

/* line 72, ../scss/2-framework/_font-awesome.scss */
.fa-gear:before,
.fa-cog:before {
    content: "\f013";
}

/* line 76, ../scss/2-framework/_font-awesome.scss */
.fa-trash-o:before {
    content: "\f014";
}

/* line 79, ../scss/2-framework/_font-awesome.scss */
.fa-home:before {
    content: "\f015";
}

/* line 82, ../scss/2-framework/_font-awesome.scss */
.fa-file-o:before {
    content: "\f016";
}

/* line 85, ../scss/2-framework/_font-awesome.scss */
.fa-clock-o:before {
    content: "\f017";
}

/* line 88, ../scss/2-framework/_font-awesome.scss */
.fa-road:before {
    content: "\f018";
}

/* line 91, ../scss/2-framework/_font-awesome.scss */
.fa-download:before {
    content: "\f019";
}

/* line 94, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-circle-o-down:before {
    content: "\f01a";
}

/* line 97, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-circle-o-up:before {
    content: "\f01b";
}

/* line 100, ../scss/2-framework/_font-awesome.scss */
.fa-inbox:before {
    content: "\f01c";
}

/* line 103, ../scss/2-framework/_font-awesome.scss */
.fa-play-circle-o:before {
    content: "\f01d";
}

/* line 106, ../scss/2-framework/_font-awesome.scss */
.fa-rotate-right:before,
.fa-repeat:before {
    content: "\f01e";
}

/* line 110, ../scss/2-framework/_font-awesome.scss */
.fa-refresh:before {
    content: "\f021";
}

/* line 113, ../scss/2-framework/_font-awesome.scss */
.fa-list-alt:before {
    content: "\f022";
}

/* line 116, ../scss/2-framework/_font-awesome.scss */
.fa-lock:before {
    content: "\f023";
}

/* line 119, ../scss/2-framework/_font-awesome.scss */
.fa-flag:before {
    content: "\f024";
}

/* line 122, ../scss/2-framework/_font-awesome.scss */
.fa-headphones:before {
    content: "\f025";
}

/* line 125, ../scss/2-framework/_font-awesome.scss */
.fa-volume-off:before {
    content: "\f026";
}

/* line 128, ../scss/2-framework/_font-awesome.scss */
.fa-volume-down:before {
    content: "\f027";
}

/* line 131, ../scss/2-framework/_font-awesome.scss */
.fa-volume-up:before {
    content: "\f028";
}

/* line 134, ../scss/2-framework/_font-awesome.scss */
.fa-qrcode:before {
    content: "\f029";
}

/* line 137, ../scss/2-framework/_font-awesome.scss */
.fa-barcode:before {
    content: "\f02a";
}

/* line 140, ../scss/2-framework/_font-awesome.scss */
.fa-tag:before {
    content: "\f02b";
}

/* line 143, ../scss/2-framework/_font-awesome.scss */
.fa-tags:before {
    content: "\f02c";
}

/* line 146, ../scss/2-framework/_font-awesome.scss */
.fa-book:before {
    content: "\f02d";
}

/* line 149, ../scss/2-framework/_font-awesome.scss */
.fa-bookmark:before {
    content: "\f02e";
}

/* line 152, ../scss/2-framework/_font-awesome.scss */
.fa-print:before {
    content: "\f02f";
}

/* line 155, ../scss/2-framework/_font-awesome.scss */
.fa-camera:before {
    content: "\f030";
}

/* line 158, ../scss/2-framework/_font-awesome.scss */
.fa-font:before {
    content: "\f031";
}

/* line 161, ../scss/2-framework/_font-awesome.scss */
.fa-bold:before {
    content: "\f032";
}

/* line 164, ../scss/2-framework/_font-awesome.scss */
.fa-italic:before {
    content: "\f033";
}

/* line 167, ../scss/2-framework/_font-awesome.scss */
.fa-text-height:before {
    content: "\f034";
}

/* line 170, ../scss/2-framework/_font-awesome.scss */
.fa-text-width:before {
    content: "\f035";
}

/* line 173, ../scss/2-framework/_font-awesome.scss */
.fa-align-left:before {
    content: "\f036";
}

/* line 176, ../scss/2-framework/_font-awesome.scss */
.fa-align-center:before {
    content: "\f037";
}

/* line 179, ../scss/2-framework/_font-awesome.scss */
.fa-align-right:before {
    content: "\f038";
}

/* line 182, ../scss/2-framework/_font-awesome.scss */
.fa-align-justify:before {
    content: "\f039";
}

/* line 185, ../scss/2-framework/_font-awesome.scss */
.fa-list:before {
    content: "\f03a";
}

/* line 188, ../scss/2-framework/_font-awesome.scss */
.fa-dedent:before,
.fa-outdent:before {
    content: "\f03b";
}

/* line 192, ../scss/2-framework/_font-awesome.scss */
.fa-indent:before {
    content: "\f03c";
}

/* line 195, ../scss/2-framework/_font-awesome.scss */
.fa-video-camera:before {
    content: "\f03d";
}

/* line 198, ../scss/2-framework/_font-awesome.scss */
.fa-picture-o:before {
    content: "\f03e";
}

/* line 201, ../scss/2-framework/_font-awesome.scss */
.fa-pencil:before {
    content: "\f040";
}

/* line 204, ../scss/2-framework/_font-awesome.scss */
.fa-map-marker:before {
    content: "\f041";
}

/* line 207, ../scss/2-framework/_font-awesome.scss */
.fa-adjust:before {
    content: "\f042";
}

/* line 210, ../scss/2-framework/_font-awesome.scss */
.fa-tint:before {
    content: "\f043";
}

/* line 213, ../scss/2-framework/_font-awesome.scss */
.fa-edit:before,
.fa-pencil-square-o:before {
    content: "\f044";
}

/* line 217, ../scss/2-framework/_font-awesome.scss */
.fa-share-square-o:before {
    content: "\f045";
}

/* line 220, ../scss/2-framework/_font-awesome.scss */
.fa-check-square-o:before {
    content: "\f046";
}

/* line 223, ../scss/2-framework/_font-awesome.scss */
.fa-arrows:before {
    content: "\f047";
}

/* line 226, ../scss/2-framework/_font-awesome.scss */
.fa-step-backward:before {
    content: "\f048";
}

/* line 229, ../scss/2-framework/_font-awesome.scss */
.fa-fast-backward:before {
    content: "\f049";
}

/* line 232, ../scss/2-framework/_font-awesome.scss */
.fa-backward:before {
    content: "\f04a";
}

/* line 235, ../scss/2-framework/_font-awesome.scss */
.fa-play:before {
    content: "\f04b";
}

/* line 238, ../scss/2-framework/_font-awesome.scss */
.fa-pause:before {
    content: "\f04c";
}

/* line 241, ../scss/2-framework/_font-awesome.scss */
.fa-stop:before {
    content: "\f04d";
}

/* line 244, ../scss/2-framework/_font-awesome.scss */
.fa-forward:before {
    content: "\f04e";
}

/* line 247, ../scss/2-framework/_font-awesome.scss */
.fa-fast-forward:before {
    content: "\f050";
}

/* line 250, ../scss/2-framework/_font-awesome.scss */
.fa-step-forward:before {
    content: "\f051";
}

/* line 253, ../scss/2-framework/_font-awesome.scss */
.fa-eject:before {
    content: "\f052";
}

/* line 256, ../scss/2-framework/_font-awesome.scss */
.fa-chevron-left:before {
    content: "\f053";
}

/* line 259, ../scss/2-framework/_font-awesome.scss */
.fa-chevron-right:before {
    content: "\f054";
}

/* line 262, ../scss/2-framework/_font-awesome.scss */
.fa-plus-circle:before {
    content: "\f055";
}

/* line 265, ../scss/2-framework/_font-awesome.scss */
.fa-minus-circle:before {
    content: "\f056";
}

/* line 268, ../scss/2-framework/_font-awesome.scss */
.fa-times-circle:before {
    content: "\f057";
}

/* line 271, ../scss/2-framework/_font-awesome.scss */
.fa-check-circle:before {
    content: "\f058";
}

/* line 274, ../scss/2-framework/_font-awesome.scss */
.fa-question-circle:before {
    content: "\f059";
}

/* line 277, ../scss/2-framework/_font-awesome.scss */
.fa-info-circle:before {
    content: "\f05a";
}

/* line 280, ../scss/2-framework/_font-awesome.scss */
.fa-crosshairs:before {
    content: "\f05b";
}

/* line 283, ../scss/2-framework/_font-awesome.scss */
.fa-times-circle-o:before {
    content: "\f05c";
}

/* line 286, ../scss/2-framework/_font-awesome.scss */
.fa-check-circle-o:before {
    content: "\f05d";
}

/* line 289, ../scss/2-framework/_font-awesome.scss */
.fa-ban:before {
    content: "\f05e";
}

/* line 292, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-left:before {
    content: "\f060";
}

/* line 295, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-right:before {
    content: "\f061";
}

/* line 298, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-up:before {
    content: "\f062";
}

/* line 301, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-down:before {
    content: "\f063";
}

/* line 304, ../scss/2-framework/_font-awesome.scss */
.fa-mail-forward:before,
.fa-share:before {
    content: "\f064";
}

/* line 308, ../scss/2-framework/_font-awesome.scss */
.fa-expand:before {
    content: "\f065";
}

/* line 311, ../scss/2-framework/_font-awesome.scss */
.fa-compress:before {
    content: "\f066";
}

/* line 314, ../scss/2-framework/_font-awesome.scss */
.fa-plus:before {
    content: "\f067";
}

/* line 317, ../scss/2-framework/_font-awesome.scss */
.fa-minus:before {
    content: "\f068";
}

/* line 320, ../scss/2-framework/_font-awesome.scss */
.fa-asterisk:before {
    content: "\f069";
}

/* line 323, ../scss/2-framework/_font-awesome.scss */
.fa-exclamation-circle:before {
    content: "\f06a";
}

/* line 326, ../scss/2-framework/_font-awesome.scss */
.fa-gift:before {
    content: "\f06b";
}

/* line 329, ../scss/2-framework/_font-awesome.scss */
.fa-leaf:before {
    content: "\f06c";
}

/* line 332, ../scss/2-framework/_font-awesome.scss */
.fa-fire:before {
    content: "\f06d";
}

/* line 335, ../scss/2-framework/_font-awesome.scss */
.fa-eye:before {
    content: "\f06e";
}

/* line 338, ../scss/2-framework/_font-awesome.scss */
.fa-eye-slash:before {
    content: "\f070";
}

/* line 341, ../scss/2-framework/_font-awesome.scss */
.fa-warning:before,
.fa-exclamation-triangle:before {
    content: "\f071";
}

/* line 345, ../scss/2-framework/_font-awesome.scss */
.fa-plane:before {
    content: "\f072";
}

/* line 348, ../scss/2-framework/_font-awesome.scss */
.fa-calendar:before {
    content: "\f073";
}

/* line 351, ../scss/2-framework/_font-awesome.scss */
.fa-random:before {
    content: "\f074";
}

/* line 354, ../scss/2-framework/_font-awesome.scss */
.fa-comment:before {
    content: "\f075";
}

/* line 357, ../scss/2-framework/_font-awesome.scss */
.fa-magnet:before {
    content: "\f076";
}

/* line 360, ../scss/2-framework/_font-awesome.scss */
.fa-chevron-up:before {
    content: "\f077";
}

/* line 363, ../scss/2-framework/_font-awesome.scss */
.fa-chevron-down:before {
    content: "\f078";
}

/* line 366, ../scss/2-framework/_font-awesome.scss */
.fa-retweet:before {
    content: "\f079";
}

/* line 369, ../scss/2-framework/_font-awesome.scss */
.fa-shopping-cart:before {
    content: "\f07a";
}

/* line 372, ../scss/2-framework/_font-awesome.scss */
.fa-folder:before {
    content: "\f07b";
}

/* line 375, ../scss/2-framework/_font-awesome.scss */
.fa-folder-open:before {
    content: "\f07c";
}

/* line 378, ../scss/2-framework/_font-awesome.scss */
.fa-arrows-v:before {
    content: "\f07d";
}

/* line 381, ../scss/2-framework/_font-awesome.scss */
.fa-arrows-h:before {
    content: "\f07e";
}

/* line 384, ../scss/2-framework/_font-awesome.scss */
.fa-bar-chart-o:before {
    content: "\f080";
}

/* line 387, ../scss/2-framework/_font-awesome.scss */
.fa-twitter-square:before {
    content: "\f081";
}

/* line 390, ../scss/2-framework/_font-awesome.scss */
.fa-facebook-square:before {
    content: "\f082";
}

/* line 393, ../scss/2-framework/_font-awesome.scss */
.fa-camera-retro:before {
    content: "\f083";
}

/* line 396, ../scss/2-framework/_font-awesome.scss */
.fa-key:before {
    content: "\f084";
}

/* line 399, ../scss/2-framework/_font-awesome.scss */
.fa-gears:before,
.fa-cogs:before {
    content: "\f085";
}

/* line 403, ../scss/2-framework/_font-awesome.scss */
.fa-comments:before {
    content: "\f086";
}

/* line 406, ../scss/2-framework/_font-awesome.scss */
.fa-thumbs-o-up:before {
    content: "\f087";
}

/* line 409, ../scss/2-framework/_font-awesome.scss */
.fa-thumbs-o-down:before {
    content: "\f088";
}

/* line 412, ../scss/2-framework/_font-awesome.scss */
.fa-star-half:before {
    content: "\f089";
}

/* line 415, ../scss/2-framework/_font-awesome.scss */
.fa-heart-o:before {
    content: "\f08a";
}

/* line 418, ../scss/2-framework/_font-awesome.scss */
.fa-sign-out:before {
    content: "\f08b";
}

/* line 421, ../scss/2-framework/_font-awesome.scss */
.fa-linkedin-square:before {
    content: "\f08c";
}

/* line 424, ../scss/2-framework/_font-awesome.scss */
.fa-thumb-tack:before {
    content: "\f08d";
}

/* line 427, ../scss/2-framework/_font-awesome.scss */
.fa-external-link:before {
    content: "\f08e";
}

/* line 430, ../scss/2-framework/_font-awesome.scss */
.fa-sign-in:before {
    content: "\f090";
}

/* line 433, ../scss/2-framework/_font-awesome.scss */
.fa-trophy:before {
    content: "\f091";
}

/* line 436, ../scss/2-framework/_font-awesome.scss */
.fa-github-square:before {
    content: "\f092";
}

/* line 439, ../scss/2-framework/_font-awesome.scss */
.fa-upload:before {
    content: "\f093";
}

/* line 442, ../scss/2-framework/_font-awesome.scss */
.fa-lemon-o:before {
    content: "\f094";
}

/* line 445, ../scss/2-framework/_font-awesome.scss */
.fa-phone:before {
    content: "\f095";
}

/* line 448, ../scss/2-framework/_font-awesome.scss */
.fa-square-o:before {
    content: "\f096";
}

/* line 451, ../scss/2-framework/_font-awesome.scss */
.fa-bookmark-o:before {
    content: "\f097";
}

/* line 454, ../scss/2-framework/_font-awesome.scss */
.fa-phone-square:before {
    content: "\f098";
}

/* line 457, ../scss/2-framework/_font-awesome.scss */
.fa-twitter:before {
    content: "\f099";
}

/* line 460, ../scss/2-framework/_font-awesome.scss */
.fa-facebook:before {
    content: "\f09a";
}

/* line 463, ../scss/2-framework/_font-awesome.scss */
.fa-github:before {
    content: "\f09b";
}

/* line 466, ../scss/2-framework/_font-awesome.scss */
.fa-unlock:before {
    content: "\f09c";
}

/* line 469, ../scss/2-framework/_font-awesome.scss */
.fa-credit-card:before {
    content: "\f09d";
}

/* line 472, ../scss/2-framework/_font-awesome.scss */
.fa-rss:before {
    content: "\f09e";
}

/* line 475, ../scss/2-framework/_font-awesome.scss */
.fa-hdd-o:before {
    content: "\f0a0";
}

/* line 478, ../scss/2-framework/_font-awesome.scss */
.fa-bullhorn:before {
    content: "\f0a1";
}

/* line 481, ../scss/2-framework/_font-awesome.scss */
.fa-bell:before {
    content: "\f0f3";
}

/* line 484, ../scss/2-framework/_font-awesome.scss */
.fa-certificate:before {
    content: "\f0a3";
}

/* line 487, ../scss/2-framework/_font-awesome.scss */
.fa-hand-o-right:before {
    content: "\f0a4";
}

/* line 490, ../scss/2-framework/_font-awesome.scss */
.fa-hand-o-left:before {
    content: "\f0a5";
}

/* line 493, ../scss/2-framework/_font-awesome.scss */
.fa-hand-o-up:before {
    content: "\f0a6";
}

/* line 496, ../scss/2-framework/_font-awesome.scss */
.fa-hand-o-down:before {
    content: "\f0a7";
}

/* line 499, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-circle-left:before {
    content: "\f0a8";
}

/* line 502, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-circle-right:before {
    content: "\f0a9";
}

/* line 505, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-circle-up:before {
    content: "\f0aa";
}

/* line 508, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-circle-down:before {
    content: "\f0ab";
}

/* line 511, ../scss/2-framework/_font-awesome.scss */
.fa-globe:before {
    content: "\f0ac";
}

/* line 514, ../scss/2-framework/_font-awesome.scss */
.fa-wrench:before {
    content: "\f0ad";
}

/* line 517, ../scss/2-framework/_font-awesome.scss */
.fa-tasks:before {
    content: "\f0ae";
}

/* line 520, ../scss/2-framework/_font-awesome.scss */
.fa-filter:before {
    content: "\f0b0";
}

/* line 523, ../scss/2-framework/_font-awesome.scss */
.fa-briefcase:before {
    content: "\f0b1";
}

/* line 526, ../scss/2-framework/_font-awesome.scss */
.fa-arrows-alt:before {
    content: "\f0b2";
}

/* line 529, ../scss/2-framework/_font-awesome.scss */
.fa-group:before,
.fa-users:before {
    content: "\f0c0";
}

/* line 533, ../scss/2-framework/_font-awesome.scss */
.fa-chain:before,
.fa-link:before {
    content: "\f0c1";
}

/* line 537, ../scss/2-framework/_font-awesome.scss */
.fa-cloud:before {
    content: "\f0c2";
}

/* line 540, ../scss/2-framework/_font-awesome.scss */
.fa-flask:before {
    content: "\f0c3";
}

/* line 543, ../scss/2-framework/_font-awesome.scss */
.fa-cut:before,
.fa-scissors:before {
    content: "\f0c4";
}

/* line 547, ../scss/2-framework/_font-awesome.scss */
.fa-copy:before,
.fa-files-o:before {
    content: "\f0c5";
}

/* line 551, ../scss/2-framework/_font-awesome.scss */
.fa-paperclip:before {
    content: "\f0c6";
}

/* line 554, ../scss/2-framework/_font-awesome.scss */
.fa-save:before,
.fa-floppy-o:before {
    content: "\f0c7";
}

/* line 558, ../scss/2-framework/_font-awesome.scss */
.fa-square:before {
    content: "\f0c8";
}

/* line 561, ../scss/2-framework/_font-awesome.scss */
.fa-bars:before {
    content: "\f0c9";
}

/* line 564, ../scss/2-framework/_font-awesome.scss */
.fa-list-ul:before {
    content: "\f0ca";
}

/* line 567, ../scss/2-framework/_font-awesome.scss */
.fa-list-ol:before {
    content: "\f0cb";
}

/* line 570, ../scss/2-framework/_font-awesome.scss */
.fa-strikethrough:before {
    content: "\f0cc";
}

/* line 573, ../scss/2-framework/_font-awesome.scss */
.fa-underline:before {
    content: "\f0cd";
}

/* line 576, ../scss/2-framework/_font-awesome.scss */
.fa-table:before {
    content: "\f0ce";
}

/* line 579, ../scss/2-framework/_font-awesome.scss */
.fa-magic:before {
    content: "\f0d0";
}

/* line 582, ../scss/2-framework/_font-awesome.scss */
.fa-truck:before {
    content: "\f0d1";
}

/* line 585, ../scss/2-framework/_font-awesome.scss */
.fa-pinterest:before {
    content: "\f0d2";
}

/* line 588, ../scss/2-framework/_font-awesome.scss */
.fa-pinterest-square:before {
    content: "\f0d3";
}

/* line 591, ../scss/2-framework/_font-awesome.scss */
.fa-google-plus-square:before {
    content: "\f0d4";
}

/* line 594, ../scss/2-framework/_font-awesome.scss */
.fa-google-plus:before {
    content: "\f0d5";
}

/* line 597, ../scss/2-framework/_font-awesome.scss */
.fa-money:before {
    content: "\f0d6";
}

/* line 600, ../scss/2-framework/_font-awesome.scss */
.fa-caret-down:before {
    content: "\f0d7";
}

/* line 603, ../scss/2-framework/_font-awesome.scss */
.fa-caret-up:before {
    content: "\f0d8";
}

/* line 606, ../scss/2-framework/_font-awesome.scss */
.fa-caret-left:before {
    content: "\f0d9";
}

/* line 609, ../scss/2-framework/_font-awesome.scss */
.fa-caret-right:before {
    content: "\f0da";
}

/* line 612, ../scss/2-framework/_font-awesome.scss */
.fa-columns:before {
    content: "\f0db";
}

/* line 615, ../scss/2-framework/_font-awesome.scss */
.fa-unsorted:before,
.fa-sort:before {
    content: "\f0dc";
}

/* line 619, ../scss/2-framework/_font-awesome.scss */
.fa-sort-down:before,
.fa-sort-asc:before {
    content: "\f0dd";
}

/* line 623, ../scss/2-framework/_font-awesome.scss */
.fa-sort-up:before,
.fa-sort-desc:before {
    content: "\f0de";
}

/* line 627, ../scss/2-framework/_font-awesome.scss */
.fa-envelope:before {
    content: "\f0e0";
}

/* line 630, ../scss/2-framework/_font-awesome.scss */
.fa-linkedin:before {
    content: "\f0e1";
}

/* line 633, ../scss/2-framework/_font-awesome.scss */
.fa-rotate-left:before,
.fa-undo:before {
    content: "\f0e2";
}

/* line 637, ../scss/2-framework/_font-awesome.scss */
.fa-legal:before,
.fa-gavel:before {
    content: "\f0e3";
}

/* line 641, ../scss/2-framework/_font-awesome.scss */
.fa-dashboard:before,
.fa-tachometer:before {
    content: "\f0e4";
}

/* line 645, ../scss/2-framework/_font-awesome.scss */
.fa-comment-o:before {
    content: "\f0e5";
}

/* line 648, ../scss/2-framework/_font-awesome.scss */
.fa-comments-o:before {
    content: "\f0e6";
}

/* line 651, ../scss/2-framework/_font-awesome.scss */
.fa-flash:before,
.fa-bolt:before {
    content: "\f0e7";
}

/* line 655, ../scss/2-framework/_font-awesome.scss */
.fa-sitemap:before {
    content: "\f0e8";
}

/* line 658, ../scss/2-framework/_font-awesome.scss */
.fa-umbrella:before {
    content: "\f0e9";
}

/* line 661, ../scss/2-framework/_font-awesome.scss */
.fa-paste:before,
.fa-clipboard:before {
    content: "\f0ea";
}

/* line 665, ../scss/2-framework/_font-awesome.scss */
.fa-lightbulb-o:before {
    content: "\f0eb";
}

/* line 668, ../scss/2-framework/_font-awesome.scss */
.fa-exchange:before {
    content: "\f0ec";
}

/* line 671, ../scss/2-framework/_font-awesome.scss */
.fa-cloud-download:before {
    content: "\f0ed";
}

/* line 674, ../scss/2-framework/_font-awesome.scss */
.fa-cloud-upload:before {
    content: "\f0ee";
}

/* line 677, ../scss/2-framework/_font-awesome.scss */
.fa-user-md:before {
    content: "\f0f0";
}

/* line 680, ../scss/2-framework/_font-awesome.scss */
.fa-stethoscope:before {
    content: "\f0f1";
}

/* line 683, ../scss/2-framework/_font-awesome.scss */
.fa-suitcase:before {
    content: "\f0f2";
}

/* line 686, ../scss/2-framework/_font-awesome.scss */
.fa-bell-o:before {
    content: "\f0a2";
}

/* line 689, ../scss/2-framework/_font-awesome.scss */
.fa-coffee:before {
    content: "\f0f4";
}

/* line 692, ../scss/2-framework/_font-awesome.scss */
.fa-cutlery:before {
    content: "\f0f5";
}

/* line 695, ../scss/2-framework/_font-awesome.scss */
.fa-file-text-o:before {
    content: "\f0f6";
}

/* line 698, ../scss/2-framework/_font-awesome.scss */
.fa-building-o:before {
    content: "\f0f7";
}

/* line 701, ../scss/2-framework/_font-awesome.scss */
.fa-hospital-o:before {
    content: "\f0f8";
}

/* line 704, ../scss/2-framework/_font-awesome.scss */
.fa-ambulance:before {
    content: "\f0f9";
}

/* line 707, ../scss/2-framework/_font-awesome.scss */
.fa-medkit:before {
    content: "\f0fa";
}

/* line 710, ../scss/2-framework/_font-awesome.scss */
.fa-fighter-jet:before {
    content: "\f0fb";
}

/* line 713, ../scss/2-framework/_font-awesome.scss */
.fa-beer:before {
    content: "\f0fc";
}

/* line 716, ../scss/2-framework/_font-awesome.scss */
.fa-h-square:before {
    content: "\f0fd";
}

/* line 719, ../scss/2-framework/_font-awesome.scss */
.fa-plus-square:before {
    content: "\f0fe";
}

/* line 722, ../scss/2-framework/_font-awesome.scss */
.fa-angle-double-left:before {
    content: "\f100";
}

/* line 725, ../scss/2-framework/_font-awesome.scss */
.fa-angle-double-right:before {
    content: "\f101";
}

/* line 728, ../scss/2-framework/_font-awesome.scss */
.fa-angle-double-up:before {
    content: "\f102";
}

/* line 731, ../scss/2-framework/_font-awesome.scss */
.fa-angle-double-down:before {
    content: "\f103";
}

/* line 734, ../scss/2-framework/_font-awesome.scss */
.fa-angle-left:before {
    content: "\f104";
}

/* line 737, ../scss/2-framework/_font-awesome.scss */
.fa-angle-right:before {
    content: "\f105";
}

/* line 740, ../scss/2-framework/_font-awesome.scss */
.fa-angle-up:before {
    content: "\f106";
}

/* line 743, ../scss/2-framework/_font-awesome.scss */
.fa-angle-down:before {
    content: "\f107";
}

/* line 746, ../scss/2-framework/_font-awesome.scss */
.fa-desktop:before {
    content: "\f108";
}

/* line 749, ../scss/2-framework/_font-awesome.scss */
.fa-laptop:before {
    content: "\f109";
}

/* line 752, ../scss/2-framework/_font-awesome.scss */
.fa-tablet:before {
    content: "\f10a";
}

/* line 755, ../scss/2-framework/_font-awesome.scss */
.fa-mobile-phone:before,
.fa-mobile:before {
    content: "\f10b";
}

/* line 759, ../scss/2-framework/_font-awesome.scss */
.fa-circle-o:before {
    content: "\f10c";
}

/* line 762, ../scss/2-framework/_font-awesome.scss */
.fa-quote-left:before {
    content: "\f10d";
}

/* line 765, ../scss/2-framework/_font-awesome.scss */
.fa-quote-right:before {
    content: "\f10e";
}

/* line 768, ../scss/2-framework/_font-awesome.scss */
.fa-spinner:before {
    content: "\f110";
}

/* line 771, ../scss/2-framework/_font-awesome.scss */
.fa-circle:before {
    content: "\f111";
}

/* line 774, ../scss/2-framework/_font-awesome.scss */
.fa-mail-reply:before,
.fa-reply:before {
    content: "\f112";
}

/* line 778, ../scss/2-framework/_font-awesome.scss */
.fa-github-alt:before {
    content: "\f113";
}

/* line 781, ../scss/2-framework/_font-awesome.scss */
.fa-folder-o:before {
    content: "\f114";
}

/* line 784, ../scss/2-framework/_font-awesome.scss */
.fa-folder-open-o:before {
    content: "\f115";
}

/* line 787, ../scss/2-framework/_font-awesome.scss */
.fa-smile-o:before {
    content: "\f118";
}

/* line 790, ../scss/2-framework/_font-awesome.scss */
.fa-frown-o:before {
    content: "\f119";
}

/* line 793, ../scss/2-framework/_font-awesome.scss */
.fa-meh-o:before {
    content: "\f11a";
}

/* line 796, ../scss/2-framework/_font-awesome.scss */
.fa-gamepad:before {
    content: "\f11b";
}

/* line 799, ../scss/2-framework/_font-awesome.scss */
.fa-keyboard-o:before {
    content: "\f11c";
}

/* line 802, ../scss/2-framework/_font-awesome.scss */
.fa-flag-o:before {
    content: "\f11d";
}

/* line 805, ../scss/2-framework/_font-awesome.scss */
.fa-flag-checkered:before {
    content: "\f11e";
}

/* line 808, ../scss/2-framework/_font-awesome.scss */
.fa-terminal:before {
    content: "\f120";
}

/* line 811, ../scss/2-framework/_font-awesome.scss */
.fa-code:before {
    content: "\f121";
}

/* line 814, ../scss/2-framework/_font-awesome.scss */
.fa-reply-all:before {
    content: "\f122";
}

/* line 817, ../scss/2-framework/_font-awesome.scss */
.fa-mail-reply-all:before {
    content: "\f122";
}

/* line 820, ../scss/2-framework/_font-awesome.scss */
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
    content: "\f123";
}

/* line 825, ../scss/2-framework/_font-awesome.scss */
.fa-location-arrow:before {
    content: "\f124";
}

/* line 828, ../scss/2-framework/_font-awesome.scss */
.fa-crop:before {
    content: "\f125";
}

/* line 831, ../scss/2-framework/_font-awesome.scss */
.fa-code-fork:before {
    content: "\f126";
}

/* line 834, ../scss/2-framework/_font-awesome.scss */
.fa-unlink:before,
.fa-chain-broken:before {
    content: "\f127";
}

/* line 838, ../scss/2-framework/_font-awesome.scss */
.fa-question:before {
    content: "\f128";
}

/* line 841, ../scss/2-framework/_font-awesome.scss */
.fa-info:before {
    content: "\f129";
}

/* line 844, ../scss/2-framework/_font-awesome.scss */
.fa-exclamation:before {
    content: "\f12a";
}

/* line 847, ../scss/2-framework/_font-awesome.scss */
.fa-superscript:before {
    content: "\f12b";
}

/* line 850, ../scss/2-framework/_font-awesome.scss */
.fa-subscript:before {
    content: "\f12c";
}

/* line 853, ../scss/2-framework/_font-awesome.scss */
.fa-eraser:before {
    content: "\f12d";
}

/* line 856, ../scss/2-framework/_font-awesome.scss */
.fa-puzzle-piece:before {
    content: "\f12e";
}

/* line 859, ../scss/2-framework/_font-awesome.scss */
.fa-microphone:before {
    content: "\f130";
}

/* line 862, ../scss/2-framework/_font-awesome.scss */
.fa-microphone-slash:before {
    content: "\f131";
}

/* line 865, ../scss/2-framework/_font-awesome.scss */
.fa-shield:before {
    content: "\f132";
}

/* line 868, ../scss/2-framework/_font-awesome.scss */
.fa-calendar-o:before {
    content: "\f133";
}

/* line 871, ../scss/2-framework/_font-awesome.scss */
.fa-fire-extinguisher:before {
    content: "\f134";
}

/* line 874, ../scss/2-framework/_font-awesome.scss */
.fa-rocket:before {
    content: "\f135";
}

/* line 877, ../scss/2-framework/_font-awesome.scss */
.fa-maxcdn:before {
    content: "\f136";
}

/* line 880, ../scss/2-framework/_font-awesome.scss */
.fa-chevron-circle-left:before {
    content: "\f137";
}

/* line 883, ../scss/2-framework/_font-awesome.scss */
.fa-chevron-circle-right:before {
    content: "\f138";
}

/* line 886, ../scss/2-framework/_font-awesome.scss */
.fa-chevron-circle-up:before {
    content: "\f139";
}

/* line 889, ../scss/2-framework/_font-awesome.scss */
.fa-chevron-circle-down:before {
    content: "\f13a";
}

/* line 892, ../scss/2-framework/_font-awesome.scss */
.fa-html5:before {
    content: "\f13b";
}

/* line 895, ../scss/2-framework/_font-awesome.scss */
.fa-css3:before {
    content: "\f13c";
}

/* line 898, ../scss/2-framework/_font-awesome.scss */
.fa-anchor:before {
    content: "\f13d";
}

/* line 901, ../scss/2-framework/_font-awesome.scss */
.fa-unlock-alt:before {
    content: "\f13e";
}

/* line 904, ../scss/2-framework/_font-awesome.scss */
.fa-bullseye:before {
    content: "\f140";
}

/* line 907, ../scss/2-framework/_font-awesome.scss */
.fa-ellipsis-h:before {
    content: "\f141";
}

/* line 910, ../scss/2-framework/_font-awesome.scss */
.fa-ellipsis-v:before {
    content: "\f142";
}

/* line 913, ../scss/2-framework/_font-awesome.scss */
.fa-rss-square:before {
    content: "\f143";
}

/* line 916, ../scss/2-framework/_font-awesome.scss */
.fa-play-circle:before {
    content: "\f144";
}

/* line 919, ../scss/2-framework/_font-awesome.scss */
.fa-ticket:before {
    content: "\f145";
}

/* line 922, ../scss/2-framework/_font-awesome.scss */
.fa-minus-square:before {
    content: "\f146";
}

/* line 925, ../scss/2-framework/_font-awesome.scss */
.fa-minus-square-o:before {
    content: "\f147";
}

/* line 928, ../scss/2-framework/_font-awesome.scss */
.fa-level-up:before {
    content: "\f148";
}

/* line 931, ../scss/2-framework/_font-awesome.scss */
.fa-level-down:before {
    content: "\f149";
}

/* line 934, ../scss/2-framework/_font-awesome.scss */
.fa-check-square:before {
    content: "\f14a";
}

/* line 937, ../scss/2-framework/_font-awesome.scss */
.fa-pencil-square:before {
    content: "\f14b";
}

/* line 940, ../scss/2-framework/_font-awesome.scss */
.fa-external-link-square:before {
    content: "\f14c";
}

/* line 943, ../scss/2-framework/_font-awesome.scss */
.fa-share-square:before {
    content: "\f14d";
}

/* line 946, ../scss/2-framework/_font-awesome.scss */
.fa-compass:before {
    content: "\f14e";
}

/* line 949, ../scss/2-framework/_font-awesome.scss */
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
    content: "\f150";
}

/* line 953, ../scss/2-framework/_font-awesome.scss */
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
    content: "\f151";
}

/* line 957, ../scss/2-framework/_font-awesome.scss */
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
    content: "\f152";
}

/* line 961, ../scss/2-framework/_font-awesome.scss */
.fa-euro:before,
.fa-eur:before {
    content: "\f153";
}

/* line 965, ../scss/2-framework/_font-awesome.scss */
.fa-gbp:before {
    content: "\f154";
}

/* line 968, ../scss/2-framework/_font-awesome.scss */
.fa-dollar:before,
.fa-usd:before {
    content: "\f155";
}

/* line 972, ../scss/2-framework/_font-awesome.scss */
.fa-rupee:before,
.fa-inr:before {
    content: "\f156";
}

/* line 976, ../scss/2-framework/_font-awesome.scss */
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
    content: "\f157";
}

/* line 982, ../scss/2-framework/_font-awesome.scss */
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
    content: "\f158";
}

/* line 987, ../scss/2-framework/_font-awesome.scss */
.fa-won:before,
.fa-krw:before {
    content: "\f159";
}

/* line 991, ../scss/2-framework/_font-awesome.scss */
.fa-bitcoin:before,
.fa-btc:before {
    content: "\f15a";
}

/* line 995, ../scss/2-framework/_font-awesome.scss */
.fa-file:before {
    content: "\f15b";
}

/* line 998, ../scss/2-framework/_font-awesome.scss */
.fa-file-text:before {
    content: "\f15c";
}

/* line 1001, ../scss/2-framework/_font-awesome.scss */
.fa-sort-alpha-asc:before {
    content: "\f15d";
}

/* line 1004, ../scss/2-framework/_font-awesome.scss */
.fa-sort-alpha-desc:before {
    content: "\f15e";
}

/* line 1007, ../scss/2-framework/_font-awesome.scss */
.fa-sort-amount-asc:before {
    content: "\f160";
}

/* line 1010, ../scss/2-framework/_font-awesome.scss */
.fa-sort-amount-desc:before {
    content: "\f161";
}

/* line 1013, ../scss/2-framework/_font-awesome.scss */
.fa-sort-numeric-asc:before {
    content: "\f162";
}

/* line 1016, ../scss/2-framework/_font-awesome.scss */
.fa-sort-numeric-desc:before {
    content: "\f163";
}

/* line 1019, ../scss/2-framework/_font-awesome.scss */
.fa-thumbs-up:before {
    content: "\f164";
}

/* line 1022, ../scss/2-framework/_font-awesome.scss */
.fa-thumbs-down:before {
    content: "\f165";
}

/* line 1025, ../scss/2-framework/_font-awesome.scss */
.fa-youtube-square:before {
    content: "\f166";
}

/* line 1028, ../scss/2-framework/_font-awesome.scss */
.fa-youtube:before {
    content: "\f167";
}

/* line 1031, ../scss/2-framework/_font-awesome.scss */
.fa-xing:before {
    content: "\f168";
}

/* line 1034, ../scss/2-framework/_font-awesome.scss */
.fa-xing-square:before {
    content: "\f169";
}

/* line 1037, ../scss/2-framework/_font-awesome.scss */
.fa-youtube-play:before {
    content: "\f16a";
}

/* line 1040, ../scss/2-framework/_font-awesome.scss */
.fa-dropbox:before {
    content: "\f16b";
}

/* line 1043, ../scss/2-framework/_font-awesome.scss */
.fa-stack-overflow:before {
    content: "\f16c";
}

/* line 1046, ../scss/2-framework/_font-awesome.scss */
.fa-instagram:before {
    content: "\f16d";
}

/* line 1049, ../scss/2-framework/_font-awesome.scss */
.fa-flickr:before {
    content: "\f16e";
}

/* line 1052, ../scss/2-framework/_font-awesome.scss */
.fa-adn:before {
    content: "\f170";
}

/* line 1055, ../scss/2-framework/_font-awesome.scss */
.fa-bitbucket:before {
    content: "\f171";
}

/* line 1058, ../scss/2-framework/_font-awesome.scss */
.fa-bitbucket-square:before {
    content: "\f172";
}

/* line 1061, ../scss/2-framework/_font-awesome.scss */
.fa-tumblr:before {
    content: "\f173";
}

/* line 1064, ../scss/2-framework/_font-awesome.scss */
.fa-tumblr-square:before {
    content: "\f174";
}

/* line 1067, ../scss/2-framework/_font-awesome.scss */
.fa-long-arrow-down:before {
    content: "\f175";
}

/* line 1070, ../scss/2-framework/_font-awesome.scss */
.fa-long-arrow-up:before {
    content: "\f176";
}

/* line 1073, ../scss/2-framework/_font-awesome.scss */
.fa-long-arrow-left:before {
    content: "\f177";
}

/* line 1076, ../scss/2-framework/_font-awesome.scss */
.fa-long-arrow-right:before {
    content: "\f178";
}

/* line 1079, ../scss/2-framework/_font-awesome.scss */
.fa-apple:before {
    content: "\f179";
}

/* line 1082, ../scss/2-framework/_font-awesome.scss */
.fa-windows:before {
    content: "\f17a";
}

/* line 1085, ../scss/2-framework/_font-awesome.scss */
.fa-android:before {
    content: "\f17b";
}

/* line 1088, ../scss/2-framework/_font-awesome.scss */
.fa-linux:before {
    content: "\f17c";
}

/* line 1091, ../scss/2-framework/_font-awesome.scss */
.fa-dribbble:before {
    content: "\f17d";
}

/* line 1094, ../scss/2-framework/_font-awesome.scss */
.fa-skype:before {
    content: "\f17e";
}

/* line 1097, ../scss/2-framework/_font-awesome.scss */
.fa-foursquare:before {
    content: "\f180";
}

/* line 1100, ../scss/2-framework/_font-awesome.scss */
.fa-trello:before {
    content: "\f181";
}

/* line 1103, ../scss/2-framework/_font-awesome.scss */
.fa-female:before {
    content: "\f182";
}

/* line 1106, ../scss/2-framework/_font-awesome.scss */
.fa-male:before {
    content: "\f183";
}

/* line 1109, ../scss/2-framework/_font-awesome.scss */
.fa-gittip:before {
    content: "\f184";
}

/* line 1112, ../scss/2-framework/_font-awesome.scss */
.fa-sun-o:before {
    content: "\f185";
}

/* line 1115, ../scss/2-framework/_font-awesome.scss */
.fa-moon-o:before {
    content: "\f186";
}

/* line 1118, ../scss/2-framework/_font-awesome.scss */
.fa-archive:before {
    content: "\f187";
}

/* line 1121, ../scss/2-framework/_font-awesome.scss */
.fa-bug:before {
    content: "\f188";
}

/* line 1124, ../scss/2-framework/_font-awesome.scss */
.fa-vk:before {
    content: "\f189";
}

/* line 1127, ../scss/2-framework/_font-awesome.scss */
.fa-weibo:before {
    content: "\f18a";
}

/* line 1130, ../scss/2-framework/_font-awesome.scss */
.fa-renren:before {
    content: "\f18b";
}

/* line 1133, ../scss/2-framework/_font-awesome.scss */
.fa-pagelines:before {
    content: "\f18c";
}

/* line 1136, ../scss/2-framework/_font-awesome.scss */
.fa-stack-exchange:before {
    content: "\f18d";
}

/* line 1139, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-circle-o-right:before {
    content: "\f18e";
}

/* line 1142, ../scss/2-framework/_font-awesome.scss */
.fa-arrow-circle-o-left:before {
    content: "\f190";
}

/* line 1145, ../scss/2-framework/_font-awesome.scss */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
    content: "\f191";
}

/* line 1149, ../scss/2-framework/_font-awesome.scss */
.fa-dot-circle-o:before {
    content: "\f192";
}

/* line 1152, ../scss/2-framework/_font-awesome.scss */
.fa-wheelchair:before {
    content: "\f193";
}

/* line 1155, ../scss/2-framework/_font-awesome.scss */
.fa-vimeo-square:before {
    content: "\f194";
}

/* line 1158, ../scss/2-framework/_font-awesome.scss */
.fa-turkish-lira:before,
.fa-try:before {
    content: "\f195";
}

/* line 1162, ../scss/2-framework/_font-awesome.scss */
.fa-plus-square-o:before {
    content: "\f196";
}

/* line 2, ../scss/2-framework/_buttons.scss */
.btn, #submit {
    outline: none;
    padding: 12px 16px;
    display: inline-block;
    outline: 0;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3), inset 0px 2px 0px rgba(255, 255, 255, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: none;
    background: #F9A754;
    -moz-transition: all linear 0.15s;
    -webkit-transition: all linear 0.15s;
    -o-transition: all linear 0.15s;
    -ms-transition: all linear 0.15s;
    font-family: "Gudea";
    font-size: 0.938em;
    font-weight: 600;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 100%;
    color: #fff;
}
.btn-primary:focus, .btn-primary.focus{
    background: #F9A754;
    border: none;
    border-color: transparent;
}
/* line 19, ../scss/2-framework/_buttons.scss */
.btn:hover, .btn:active, #submit:hover, #submit:active {
    cursor: pointer;
    background: #f8922c;
    text-decoration: none;
}
/* line 26, ../scss/2-framework/_buttons.scss */
.btn:active, #submit:active {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3), inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 31, ../scss/2-framework/_buttons.scss */
.btn [class^="fa-"], #submit [class^="fa-"] {
    line-height: 0px;
}

/* line 38, ../scss/2-framework/_buttons.scss */
button.btn {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

/* line 44, ../scss/2-framework/_buttons.scss */
.btn.small {
    padding: 8px 12px 10px;
    font-size: 0.750em;
}

/* line 51, ../scss/2-framework/_buttons.scss */
.btn.large {
    padding: 17px 24px;
    font-size: 1.500em;
}

/* line 58, ../scss/2-framework/_buttons.scss */
.btn-group {
    display: inline-block;
}
/* line 61, ../scss/2-framework/_buttons.scss */
.btn-group .btn {
    margin-right: -1px;
    float: left;
    border-radius: 0px;
}
/* line 66, ../scss/2-framework/_buttons.scss */
.btn-group .btn:first-child {
    border-radius: 3px 0px 0px 3px;
}
/* line 70, ../scss/2-framework/_buttons.scss */
.btn-group .btn:last-child {
    border-radius: 0px 3px 3px 0px;
}

/*------------------------------------*\
-------- Components
\*------------------------------------*/
/* line 1, ../scss/3-components/global/_site-header.scss */
.site-header-wrap {
    margin-bottom: 60px;
    padding: 45px 0px 40px;
    position: relative;
    border-bottom: 1px solid #000;
    background: #1b1b1b url("../img/dark-bg.png");
}
/* line 8, ../scss/3-components/global/_site-header.scss */
.site-header-wrap:after {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    background: url("../img/stripe-bg.png") repeat-x;
}

/* line 19, ../scss/3-components/global/_site-header.scss */
.site-header {
    width: 1000px;
    margin: 0px auto;
    text-align: center;
}

/* line 1, ../scss/3-components/global/_site-logo.scss */
.site-logo {
    font-family: "Asap";
    font-size: 3.000em;
    color: #777;
    line-height: 100%;
    -moz-transition: color linear 0.15s;
    -webkit-transition: color linear 0.15s;
    -o-transition: color linear 0.15s;
    -ms-transition: color linear 0.15s;
}
/* line 9, ../scss/3-components/global/_site-logo.scss */
.site-logo:hover {
    text-decoration: none;
    color: #fff;
}
/* line 15, ../scss/3-components/global/_site-logo.scss */
.site-logo span {
    display: block;
    font-size: 0.500em;
}

/* line 1, ../scss/3-components/global/_site-nav.scss */
.site-header .site-nav {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.75);
}
/* line 8, ../scss/3-components/global/_site-nav.scss */
.site-header .site-nav a {
    margin-right: 40px;
    font-weight: 600;
    color: #777;
    -moz-transition: color linear 0.15s;
    -webkit-transition: color linear 0.15s;
    -o-transition: color linear 0.15s;
    -ms-transition: color linear 0.15s;
}
/* line 15, ../scss/3-components/global/_site-nav.scss */
.site-header .site-nav a:hover {
    text-decoration: none;
    color: #fff;
}
/* line 21, ../scss/3-components/global/_site-nav.scss */
.site-header .site-nav a [class^="fa-"] {
    margin-right: 5px;
    font-size: 1.200em;
}

/*------------------------------------*\
-------- General Styles
\*------------------------------------*/
/* line 36, ../scss/main.scss */
html, body {
    height: 100%;
    background: #fff;
}

/* line 41, ../scss/main.scss */
.main {
    width: 1000px;
    margin: 0px auto;
}

/* line 47, ../scss/main.scss */
img {
    max-width: 100%;
    height: auto;
}

/* line 52, ../scss/main.scss */
.page-title {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
}
