body{
    font-family: 'Oswald', serif;
}

.menu-home {
    padding: 16px 0;
}

.FAQcontent h1{
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    background-color: #0999B4;
    color: white;
    cursor: pointer;
}

.FAQcontent h1:after {
    display: none;
}

.FAQcontent p{
    text-align: justify;
    padding: 10px 0 25px 0;
    color: #525252;
    font-size: 18px;
    border-bottom: 1px solid lightgrey;
}
.FAQcontent p a:hover{
    color: #0999B4;
}
.FAQcontent p b{
    color: #116372;
    letter-spacing: 1px;
}
.animated {
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media(max-width:1199px) {
    .login-info, .top-menu {
        text-align: center;
    }
    
    .top-menu-bg ul {
        display: inline-block;
        float: none;
    }
    
}