/* General */
/*font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;*/
a{
    color: #0999b4;
}
.remember-me{
    display: block;
    float: left;
    width: 100%;
    margin-top: 50px;
    height: auto;
    margin-left: 5%;

}
.remember-me .check{
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: 10%;
}
.remember-me i{
    display: inline-block;
    float: left;
    width: auto;
    font-size: 20px;
    padding-top: 7px;
    color: #337AB7;
}
button, input{
    outline: none;
    border: none;
    border-color: transparent;
}
.formDiv{
    color: transparent;
    float: left;
    width: 100%;
}

/* LOGIN, REGISTER AND OTHER MODALS */

.modal-dialog {
    width: 80%;
}

#login-modal .modal-dialog {
    width: 60%;
}

.login-buttons {
    float: right;
    padding: 5px 0;
}

.login-buttons > button {
    padding: 15px 50px;
    margin-right: 30px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
}

.login-buttons > button:first-child {
    background-color: #1990cf;
}

.modal-header {
    padding: 40px 20px;
}

.modal-header > button {
    font-size: 38px;
    margin-right: 20px;
    line-height: 21px;
}

.modal-table-wrapper {
    height: 265px;
    overflow-y: auto;
}

.abcRioButtonContents > span {
    display: none;
}

.abcRioButton {
    width: auto!important;
    border-radius: 50%!important;
}

.abcRioButtonIcon {
    float: none!important;
}

.modal-title {
    text-align: center;
    line-height: 21px;
}

.modal-body {
    padding: 0;
}

.modal-body h5 {
    font-size: 18px;
    margin-left: 15px;
}

.modal-body table {
    width: 100%;
    text-align: center;
}

.modal-body table thead {
    background-color: #02AD8B;
    color: #fff;
}

.modal-body table thead tr td {
    padding: 10px;
}

#modalReport tr:nth-child(odd), #modalIBReport tr:nth-child(odd), #clientReport tr:nth-child(odd) {
    background: #EDEDED;
}

#modalReport tr td, #clientReport tr td {
    padding: 10px 0;
}

.modal-footer .btn-default {
    color: #fff;
    text-shadow: none;
}

.modal-body .login-form {
    max-width: 100%;
}

.login-buttons > .google-login {
    padding: 0;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 50%;
    width: 36px!important;
    display: inline-block;
}

.login-buttons > span {
    color: #ddd;
    vertical-align: middle;
    font-size: 13px;
}

#fb-login {
    width: 38px!important;
    display: inline-block;
}

.login-buttons .facebook-login-btn {
    padding: 11px 14px;
    text-align: center;
    vertical-align: middle;
    background: #3b5998;
    color: #fff;
    font-family: "Arial", sans-serif;
    letter-spacing: 0;
    border-radius: 50%;
}



.facebook-login-btn i {
    width: 10px;
}


.register-button-home p{
    margin-left: -10%;
}

#calculateCpaModal .modal-dialog, #calculateIBModal .modal-dialog {
    width: 60%;
}

#calculateCpaModal .modal-content, #calculateIBModal .modal-content {
    padding: 15px;
}

#calculateCpaModal p, #calculateIBModal p {
    margin: 0;
    text-align: center;
}

.register-button-home .calculate-cpa-btn {
    background: #0c88a0!important;
    padding: 10px 20px;
    margin: 0 25px;
    border: none;
}

.register-button-home .btn, #submit{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background: #F9A754;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.register-button-home .btn, #submit:hover{
    background: #F9A754;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


.shadowContainer{
    padding: 25px 0;
    box-shadow: inset 0 20px 10px -20px #000000;
    min-height: 35vw;
}
figure img{
    height: 200px;
}
body {
    font-family: 'Oswald', serif;
    font-weight: normal;
}
a:hover, a:focus{
    text-decoration: none;
}
label{
    color: #337ab7;
}
/*Start Header */
.top-header {
    background: #000;
    width: 100%;
    overflow: hidden;
    padding: 25px 35px;
}
.top-header .pull-right li{
    margin: 0;
    padding: 5px 0;
}


/* Main Menu */

/*Header Logo */
.header-logo {
    float: left;
}

.header-logo > a {
    display: block;
    overflow: hidden;
}

.top-header a img{
    max-width: 180px;
}
/* Menu main button */
.navbar-toggle{
    border: 3px solid #0999B4;
    padding: 7px 10px;
}
.navbar-toggle .icon-bar{
    border: 2px solid #0999B4;
}

.navbar-header {
    margin: 10px 0;
}

/*Social Icons */
.pull-right {
    margin: 0;
}
.pull-right li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}
.pull-right .fa-inverse{
    color: #0999b4;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.pull-right .fa-stack{
    color: transparent;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.pull-right .fa-inverse:hover{
    color: #f1f2f2;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.pull-right .fa-stack:hover{
    color: #06b1d0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
/* Menu Main New */
.top-menu-bg ul{
    margin: 10px 0;
}
.top-menu-bg li{
    border-left: 1px solid #d8d8d8;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.top-menu-bg li:first-child{
    border-left: none;
}
.top-menu-bg li a{
    font-size: 20px;
    color: #272727;
    padding: 25px 25px;
}
/* show collor on click - menu */
.top-menu-bg li a:active span{
    color: #000;
}
.top-menu-bg .nav > li > a:hover, .nav > li > a:focus{
    color: #4a4949;
    background-color: #d9ded7 !important;
}

.inner-top-img img {
    width: 100%;
}
/*Form Heading */
.registration{
    float: left;
    width: 100%;
}
.registration-form{
    padding: 30px 10%;
}

.account-form{
    float: right;
    color: #000;
    text-align: center;
}
.basic-data{
    text-align: center;
    width: 40%;
    float: left;
    background: #0999b4;
    background: rgba(9, 153, 180, .7);
    font-size: 20px;
    padding: 10px 100px;
    border-radius: 4px;
    transition: all linear 0.15s;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}
.basic-data:hover{
    color: #fff;
    background: #0999b4;
    transition: all linear 0.15s;
}
.basic-data h3{
    color: #fff;
    margin: 0;
    margin: 10px;
}
.account-data{
    text-align: center;
    width: 40%;
    float: right;
    background: #0999b4;
    background: rgba(9, 153, 180, .7);
    font-size: 20px;
    padding: 10px 100px;
    border-radius: 4px;
    transition: all linear 0.15s;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}
.account-data:hover{
    color: #fff;
    background: #0999b4;
    transition: all linear 0.15s;
}
.account-data h3{
    color: #fff;
    margin: 0;
    margin: 10px;
}
.form-left{
    margin-top: 20px;
}
.form-right{
    padding-top: 20px;
}
.forgot-pass-container{ 
    padding: 0px 13%;
    background-color: #F3F6F2;
}
.forgot-pass-container form button{
    margin: 25px 0;
}
.forgot-pass-container i{
    color: red;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 30px;
}
.requestPass .fa{
    color: #0999B4;
    animation: round 1.5s linear infinite;
}
@keyframes round{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
#showRequestForm{
    cursor: pointer;
    margin-top: 50px;
    display: block;
}
#successRequest{
    display: block;
    float: left;
    color: green;
    width: 100%;
    font-size: 25px;
    text-align: center;
}
#errorRequest{
    display: block;
    float: left;
    color: red;
    width: 100%;
    font-size: 25px;
    text-align: center;
}
.register{
    float: left;
    width: 75%;
    text-transform: capitalize;
    background-color: #135578;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 20px;
    letter-spacing: 3px;
}
.register-button-home{
    width: 100%;
    float: left;
}
.register-form .robotStatus{
    text-align: left;
}
.register-form #submit{
    width: 40%;
}
.register-form .captcha h3{
    color: #13869E;
}

#captcha {
    font-size: 48px;
}

#mojTekst {
    margin-bottom: 20px;
    width: 200px;
    height: 35px;
    border: 1px solid #ccc;
    text-align: center;
}

.form-style{
    background-color: #EEEEEE; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-style input{
    border-radius: 0px;
}
.form-style select{
    border-radius: 0px;
    height: 35px;
}

/*.form-style select:focus{
    background:none;
}*/
.form-style select:hover{
    box-shadow: none;
}
.register-form .captcha .generate-code a{
    color: #0068B9;
}
.register-form .captcha .generate-code a:hover{
    color: #0C99B4;
}
.register-form .captcha .generate-code input{
    width: 200px;
    margin: 0 auto;
}
.register-form .captcha .generate-code #send:hover{
    background-color: #f8922c;
}
.robotStatus{
    text-align: center;
    margin: 20px 0 10px 0;
    color: red;
}
#captchaStatusTrue{
    color: green;
    /*    margin-left: -10%;*/
}
.captcha-home{
    float: left;
    padding-left: 20%;
}
.pass span{
    color: red;
    font-size: 10px;
}
.pass-input {
    margin-left: 17%;
}
.home-form .pass-input{
    margin-left: 0;
}
.home-form .col-sm-10{
    width: 70%;
}
.captcha-input{
    margin-top: 20px;
}
#send{
    background: #F9A754;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 20px;
    font-family: 'Oswald', serif;
    letter-spacing: 2px;

}
footer{
    width: 100%;
    background: #2b2b2b;
    color: #fff;
}
.footer-right{
    text-align: right;
}
.footer-left p a:hover{
    color: #0999B4;
}
.footer-right p a:hover{
    color: #0999B4;
}
.home-menu{
    float: right;
    margin: 40px 20px 0 20px;
}
/* Centering relativ container */
.header-bg animated {
    text-align: center;
}


.header-bg {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    background-image: url(../img/test1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5% 0 15% 0;
    text-align: center;
    overflow: hidden;
}
.header-bg p {
    margin-bottom: 50px;
}
.header-bg h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.header-bg h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size:70px;
    font-weight:600;
}
.header-bg h3{
    color: #fff;
}

.header-bg a{
    color: #fff;
    background: rgba(249, 147, 84, .7);
    font-size: 20px;
    padding: 15px 100px;
    border-radius: 4px;
    transition: all linear 0.15s;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    margin: 0 5%;
    display: inline-block;
}
.header-bg a:hover{
    color: #fff;
    background: #F9A754;
    transition:all linear 0.15s;
}
.carousel-caption ul li{
    display: inline;
    text-decoration: none;
}
.affiliate{
    font-family: 'Montserrat', sans-serif;
    padding: 4%;
}
.affiliate button{
    outline: none;
    padding: 20px 100px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 15px;
    color: #fff;
    background: #F9A754;
    transition: all linear 0.15s;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    border: none;
    border-color: transparent;
}
.affiliate button:hover{
    color: #fff;
    background: #f8922c;
    transition: all linear 0.15s;
}
.affiliate-info h3, .affiliate-info h4{
    color: #525252;
}
.affiliate-info h2{
    font-family: 'Oswald', sans-serif;
    font-weight:lighter;
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 20px;
    color: #0999b4;
}
.affiliate-info h3{
    margin-top: 6%;
    font-family: 'Oswald', sans-serif;
}
.affiliate-info h4{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}
.advantage{
    margin-top: 6%;
}
affiliate-img{
    padding: 0;
}
.affiliate-img img{
    width: 100%;
}
.make-profit{
    padding: 4%;
}
.make-profit button{
    outline: none;
    padding: 20px 100px;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
    background: #F9A754;
    transition: all linear 0.15s;
    letter-spacing: 2px;
    border: none;
    border-color: transparent;
}
.make-profit button:hover{
    color: #fff;
    background: #f8922c;
    transition: all linear 0.15s;
}
/* Owl Carousel */
.newsLink{
    margin: 40px 0;
    text-align: center;
}
.newsLink a{
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Oswald', serif;
    text-decoration: none;
}
.newsLink a {
    text-decoration: none;
    position: relative;
    margin: 20px;
}
.newsLink a h1 { position:relative;color: #666;display:inline-block; margin:0;text-transform:uppercase;text-align:center;line-height:1.2em; }
h1:after, h1:before {
    display:block;
    content: '';
    border-bottom: solid 3px #019fb6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.newsLink a h1:before{
    position:absolute;
    bottom:1.2em; left:0;
    width:100%;
}
.newsLink a .ef2:hover:after {
    transition-delay:150ms;
}
.newsLink a h1:hover:after, h1:hover:after { transform: scaleX(1); }
.newsAnimation{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes flash {
    from, 50%, to {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}
.safe {
    margin-top: 40px;
} 
.safe h2 {
    width:100%;
    padding:0 0 20px 0;
    color:#424242;
    text-align:center;
    font-size:40px;
    font-family: 'Oswald', serif;
    font-weight: lighter;
}
.owl-prev,.owl-next {
    display: none;
}
.owl-carousel .owl-wrapper-outer {
    text-align:center;
}
.security p{
    padding: 0 30px;
    text-align: justify;
    font-size: 14px;
    font-family: 'Oswald', serif;
    font-weight: normal;
}
.security h4{
    font-size: 18px;
    font-family: 'Oswald', serif;
    font-weight: normal;
}
.security a{
    position: absolute;
    bottom: 10%;
    left: 50%;
    outline: none;
    color: #F9A754;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.security a:hover{
    color: #0098da;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.grid figcaption h2,
.main h2,
.welcome-text h1,
.register-button-home h3,
.captcha-home h3
{
    font-family: 'Oswald', serif;
}
.footer{
    background: url(../img/footer-graph.png) no-repeat;
    /*    background-color: #f8f8f8;*/
    background-size: 100%;
    text-align: center;
    color: #fff;
    padding: 60px;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin: 40px;
}
.footer ul li a{
    color: #fff;
    padding: 10px 200px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 20px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.footer ul li a:hover{
    background: #fff;
    color: #0999b4;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.footer p{
    font-size: 30px;
    letter-spacing: 3px;
    margin: 20px 0 40px 0;
}
.footer p:first-child{
    margin-top: 100px;
}
footer{
    padding: 20px;
}
footer p{
    font-size: 14px;
}
/*Body Image */
.home-form{
    float: left;
    width: 100%;
}
.home-form a{
    font-size: 20px;
}
.home-form a:hover span{
    display: none;
}
.home-form .form-group{
    margin-top: 20px;
}
.fast-registration{
    display: none;
    position: absolute;
    margin-left: 20px;
    color: red;
}
.home-form a:hover i{
    display: block;
    color: red;
    position: relative;
    float: right;
}
.form-devider{
    border-top: 1px solid #0c88a0;
    margin-bottom: 10%;
}
.home-left-form{
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}
input.form-control::-webkit-input-placeholder{
    color: #000;
    font-family: 'Oswald', serif;
    opacity: .7;
}
input.form-control::-webkit-input-placeholder {  /*Chrome/Opera/Safari */
    color: #000;
    font-family: 'Oswald', serif;
    opacity: .7;
}
input.form-control::-moz-placeholder {  /*Firefox 19+ */
    color: #000;
    font-family: 'Oswald', serif;
    opacity: .7;
}
input.form-control:-ms-input-placeholder {  /*IE 10+ */
    color: #000;
    font-family: 'Oswald', serif;
    opacity: .7;
}
input.form-control:-moz-placeholder {  /*Firefox 18- */
    color: #000;
    font-family: 'Oswald', serif;
    opacity: .7;
}
/*
example for type atribut
---------------------------
input[type='email'].form-control::-webkit-input-placeholder {
    color: #000;
    opacity: .7;
}
*/
.home-form .form-control{
    width: 100%;
    float: left;
}
.home-form .control-label{
    width: 20%;
    text-align: right;
    padding-top: 10px;
}
.home-form .newPassTooltip .newPassTooltipText{
    margin: auto;
    width: 100%;
    left:30px;
}
#mainCaptcha::-webkit-input-placeholder{
    color: #000;
    font-family: 'Oswald', serif;
    opacity: .7;
}
#mainCaptcha::-webkit-input-placeholder {  /*Chrome/Opera/Safari */
    color: #000;
    font-family: 'Oswald', serif;
    opacity: .7;
}
#mainCaptcha::-moz-placeholder {  /*Firefox 19+ */
    color: #000;
    font-family: 'Oswald', serif;
    opacity: .7;
}
#mainCaptcha:-ms-input-placeholder {  /*IE 10+ */
    color: #000;
    font-family: 'Oswald', serif;
    opacity: .7;
}
/*#mainCaptcha:-moz-placeholder {  Firefox 18- 
    color: #000;
    font-family: 'Oswald', serif !important;
}*/
/*Virtuel Box */
/* Home Box */
#grid {
    float: left;
    width: 100%;
}
.dark-blue-box svg path {
    fill: #ede47e !important;
    fill: rgba(98, 182, 70, .6);
    opacity: .6;
}
.coffe-box svg path {
    fill: #ede47e !important;
    fill: rgba(98, 182, 70, .6);
    opacity: .6;
}
.green-box svg path {
    fill: #ede47e !important;
    fill: rgba(98, 182, 70, .6);
    opacity: .6;
}
.red-box svg path {
    fill: #62b646 !important;
    fill: rgba(98, 182, 70, .6);
    opacity: .6;
}
.purple-box svg path {
    /*fill: #791d7d !important;*/
    fill: #62b646 !important;
    fill: rgba(98, 182, 70, .6);
    opacity: .6;
}
.blue-box svg path {
    fill: #62b646 !important;
    fill: rgba(98, 182, 70, .6);
    opacity: .6;
}
.grid figure img {
    max-width: 100%;
    margin: 0 auto;
    opacity: 1;
}
.grid figcaption {
    text-align: center;
}
.grid figcaption h2 {
    color: #090c3f;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    width: 100%;
}
.grid figcaption span.box-heading img {
    position: absolute;
    right: 0;
    top: 0;
}
.grid figcaption p {
    color: #0c88a0;
    font-size: 14px;
    font-weight: normal;
}
figcaption .fa-inverse{
    color: #d18226;
    /*    background: #3f8c6b;
        background: rgba(63, 140, 107, .6);*/
}
/* animate with plane raund*/
figcaption i {
    float: left;
    margin: 0 auto;
    position: absolute;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
/* Welcome Text */
.welcome-text {
    text-align: left;
    margin: 40px 0;
}
.welcome-text p{
    text-align: justify;
    line-height: 30px;
}
figure:hover h2{
    display: none;
}
.demo-1 .grid figure span.link-view, .demo-3 .grid figure span.link-view{
    width: 100%;
    background: #fff;
    color: #F9A754;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
    transform: translateY(-50%) translateX(-50%) scale(0.25);
    line-height: 30px;
}
.view-box{
    color: #fff !important;
}

.login-form {
    padding: 45px 10px;
}

.login-form input{
    float: left;
    width: 100%;
    margin: 10px;
}
.admin button{
    margin: 10px;
}
.login-form h2{
    margin: 10px;
    margin-bottom: 30px;
    color: #337ab7;
}
.login-form button{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
}
.login-form label{
    padding-top: 15px;
}
.login .error_msg{
    text-align: center;
    color:red;
}
.login-procesbar{
    text-align: center;
}
#accordion-1 .container .table thead tr{
    border-bottom: 2px solid gray;
}
#accordion-1 .container .table thead tr th{
    border: none;
    color: black;
}
#accordion-1 .container .table thead tr th :first-child{
    border-right: 1px solid gray;
}
#accordion-1 .container .table tbody tr:nth-child(odd){
    background-color: #C2C2C2;
}
#accordion-1 .container .table tbody tr td{
    width: 50%;
}
#accordion-2 .container .table thead tr{
    border-bottom: 2px solid gray;
}
#accordion-2 .container .table thead tr th{
    border: none;
    color: black;
}
#accordion-2 .container .table thead tr th :first-child{
    border-right: 1px solid gray;
}
#accordion-2 .container .table tbody tr:nth-child(odd){
    background-color: #C2C2C2;
}
#accordion-2 .container .table tbody tr td{
    width: 50%;
}
#accordion-3 .container .table thead tr{
    border-bottom: 2px solid gray;
}
#accordion-3 .container .table thead tr th{
    border: none;
    color: black;
}
#accordion-3 .container .table thead tr th :first-child{
    border-right: 1px solid gray;
}
#accordion-3 .container .table tbody tr:nth-child(odd){
    background-color: #C2C2C2;
}
#accordion-3 .container .table tbody tr td{
    width: 50%;
}
/*------------------------------------*\
-------- Page Styles: Accordion
\*------------------------------------*/
.main{
    float: left;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background: #f8f8f8;
}
.main:before {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
    content:'';
}
.main h2{
    text-align: center;
    padding: 20px;
}
.site-header-wrap {
    margin-bottom:60px;
    border-bottom:1px solid #cd9ad6;
}
/*------------------------------------*\
-------- DEMO Code: accordion
\*------------------------------------*/
/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
    overflow-x: hidden;
}
.accordion {
    text-align: center;
    overflow:hidden;
}
/*----- Section Titles -----*/
.accordion-section-title.active, .accordion-section-title:focus,
.accordion-section-title {
    border-radius:3px;
    width:60%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
}
.accordion-section-title.active, .accordion-section-title:hover {
    background:#c4e15e;
    opacity: .6;
    /* Type */
    text-decoration:none;
    color: #000;
}
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}
/*Admin*/
/*Login*/
.login-body{
    background: #f3f6f2;
}
.admin-login h2,
.admin-login label
{
    color: #fff;
    text-shadow: 2px 2px #f29721;
}
.admin-login label{
    font-size: 16px;
}
.admin-login .pass span{
    color: #000;
}
.login-adm{
}
.login-adm h2{
    color: black;
    text-shadow: none;
}
.login-adm label{
    color: black;
    text-shadow: none;
}
.login-adm .login{
    margin-left: 0px;
}
.admin-login{
    background-color: #EEEEEE;
    height: 100vh;
}

.pass {
    overflow: hidden;
}

#adminLoginButton {
    width: 150px;
    margin-top: 30px;
}

/* Account Sidebar */
.account-sidebar ul li{
    clear: both;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
}
/* Toggle Styles */
.aside{
    box-shadow: inset 0 20px 10px -20px #000000;
}
#wrapper {
    min-height: 80%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    /*    background: #000;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
}
/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #323631;
    background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #323631;
    background: none;
}
.menu-account-details{
    margin-bottom: 40px;
}
.accountdetails-form1{
    float: left;
    width: 100%;
    margin-top: 20px;
}
/* Currency Line */
#scriptNews{
    width: 100%;
    height: 35px;
    overflow: hidden;
    display: block;
    background: rgba(0, 0, 0, .8);
}
#scriptNews div{
    width: 80%;
    height: 100%;
    overflow: hidden;
    display: block;
    margin: auto auto;
}
/* Services News */
#slideshow{
    display: block;
    float:left;
    width: 50%;
    height: 400px;
    position: relative; 
}
#slideshow > div { 
    position: absolute; 
    width: 100%;
    overflow: hidden;
    background-size: 100% 100%;
}
#slideshow img{
    width: 80%;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* News */
#news{
    margin-right: 10%;
    letter-spacing: 1px;
    color: #000;
}
#Title{ 
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items:center;
    justify-content:center;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    color: #0999b4;
}
#Title::-webkit-scrollbar{display: none;}
#Title::-ms-scrollbar{display: none;}
#Title::-o-scrollbar{display: none;}
#Title::-moz-scrollbar{display: none;}
#Desc{
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    vertical-align: middle;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    color: #3c3f40;
    font-weight: lighter;
}
#Desc::-webkit-scrollbar{display: none;}
#Desc::-ms-scrollbar{display: none;}
#Desc::-o-scrollbar{display: none;}
#Desc::-moz-scrollbar{display: none;}
.slideImg{
    display: block;
    float: left;
    width: 50%;
    height: 400px;
}
.slideImg > div { 
    position: absolute; 
    overflow: hidden;
    background-size: 100% 100%;
}
.slideImg img{
    margin-left: 10%;
    float: left;
    width: 80%;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.newsSlide{
    margin-right: 10%;
    letter-spacing: 1px;
}
#Title2{
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    color: #0999b4;
}
#Title2::-webkit-scrollbar{display: none;}
#Title2::-ms-scrollbar{display: none;}
#Title2::-o-scrollbar{display: none;}
#Title2::-moz-scrollbar{display: none;}
#Desc2{
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    vertical-align: middle;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    color: #3c3f40;
    font-weight: lighter;
}
#Desc2::-webkit-scrollbar{display: none;}
#Desc2::-ms-scrollbar{display: none;}
#Desc2::-o-scrollbar{display: none;}
#Desc2::-moz-scrollbar{display: none;}
/* Capture Code */
#captureCode {
    display: block;
    float: left;
    margin-bottom: 10px;
}
.captcha-field{
    display: block;
    width: 200px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.countryList{
    outline: none;
    font-size: 14px;
    font-weight: normal;
    height: auto;
}
/*.countryList:focus{
    background-color: #D6EFFB;
}*/
/* Registration Form */
.registration-form-wrapper {
    background-color: #eee;
}


.form-horizontal .control-label {
    padding-top: 8px;
    padding-right: 30px;
    color: #0c88a0;
    text-align: right;
}

.form-right .control-label {
    text-align: right;
}

#inputPhone{
    margin-left: 5%; 
    margin-top: 40px;
    margin-bottom:  10px;
    width: 72%;
    height: 33px;
    display: block;
    padding: 0px;
}
#phone {
    width: 100% !important;
}
/* Processing Bar Registration Form*/
#processingBar{
    /*    position: absolute;
        right: 5%;
        top: 95%;
        margin-bottom: 50px;
       bottom: 20px;
       display: block;*/
    float: right;
    margin-right: 30%;
    text-align: center;
}
/* Processing bar loading */
.loading{
    margin: auto;
    width: 20px;
    height: 20px;
    border: 5px solid #84C9FF;
    border-top-color: #0078D7;
    border-radius: 100%;
    animation: round 1s linear infinite;
}
@keyframes round{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
.intl-tel-input{
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
}
/* Marketing Tools */
.marketing-tools-footer article{
    float: left; 
    width: 30%;
    margin: 0 20px;
    text-align: center;
}
.marketing-tools-footer article p{
    width:100%; 
    float: left;
}
/* Account Payment */
.account-payment{
    -webkit-box-shadow: 0px 11px 75px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 11px 75px 0px rgba(0,0,0,0.64);
    box-shadow: 0px 11px 75px 0px rgba(0,0,0,0.64);
    margin-bottom: 30px;
}
#account-country{
    width: 60%;
    float: right;
    height: 27px;
}
.payment-header-bg{
    background: #009ABC;
}
.account-payment .top-header{
    background: transparent;
    height: 80px;
}
.account-payment .top-menu ul{
    margin-bottom: 20px;
}
.account-payment .top-menu li a{
    color: #ebeef2;
    font-weight: normal;
    font-size: 18px;
}
.account-payment .top-menu-icon i.fa-2x{
    font-size: 30px;
    margin-bottom: 4px;
}
.account-payment .top-menu li{
    padding: 0 10px;
    height: 70px;
}
.account-payment .top-header a img{
    width: 20%;
}
.account-payment .top-menu-bg{
    margin: 0 20% 10px;
}
.account-payment .top-menu-icon i{
    margin-top: -20px;
    float: left;
    width: 100%; 
}
.account-payment .header-logo span{
    font-weight: normal;
    color: #d6d7d9;
    font-size: 36px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    text-shadow: 3px 3px #4d4e4f;
    margin-left: -50px;
}
.account-payment .pull-right .fa-inverse{
    color: #009ABC
}
.account-payment .pull-right .fa-inverse:hover{
    color: #fff;
}
.account-payment .nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
    color: #fff;
}
/* Account Payment Tables */
.payment-tables table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    border-radius: 4px;
}
.payment-tables td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.payment-tables tr:nth-child(even) {
    background-color: #dddddd;
}
.payment-tables td input{
    width: 60%;
    float: right;
}
.payment-tables td textarea{
    width: 60%;
    float: right;
}
.payment-tables td p{
    float: left;
    width: 30%;
}
.payment-tables button{
    padding: 10px;
    border-radius: 4px;
    float: right;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.90);
}
.payment-tables button:focus{
    outline: 0;
}
.payment-form{
    margin-bottom: 40px;
}
/* End Table Input */
.payment-tables .alert{
    background-color: #F7F6F3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #999999;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-color: #CCCCCC;
    margin-top: 40px;
}
.payment-tables .alter-bar{
    background-color: #F7F6F3;
    color: #999;
    border-top-color: #CCC;
    border-right-color: #CCC;
    border-bottom-color: #CCC;
    border-left-color: #CCC;
}
.alert.alert-bar h2{
    font-size: 20px
}
/* Marketing Tools 2 part */
.banner-alert{
    width: 30%;
    float: left;
}
.language-select{
    float: left;
    width: 100%;
}
/* Captcha */
#captchaStatusTrue{
    color: green;
}
/* collaboration home */
.collaboration{
    text-align: center;
    margin-top: 40px;
}
.footer-add{
    background: #f8f8f8;
    padding: 30px;
}
.collaboration h2{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.collaboration .info h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #5b5957;
    opacity: .8;
}
.collaboration .info p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    line-height: 20px;
    opacity: .8;
    text-align: justify;
}

.collaboration article {
    padding: 0 20px;
}
/* Slider Rotate */
.animated img{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;
    margin-top: 30px;
    
}

.rotate:hover {
    cursor: pointer;
    -webkit-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -o-transform:rotate(720deg);
    transform: rotate(720deg);
}
#owl-carousel.off {
    display: none;
}
/* Scroll to top */
.backToTop{
    position: fixed;
    top: 85%;
    left: 95%;
    cursor: pointer;
    font-size: 60px;
    z-index: 99;
}
/* Scroll change collor */
.fa-angle-double-up {
    color: white;
    transition:background-color 0.75s ease;
}
.orange {
    color: #fff;
}
.fa.backToTop{
    padding: 0 10px;
    background: #716f6d;
    opacity: .7;
}
/* slow motions in up */
@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -moz-transform: none;
        transform: none;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}
.fadeInDuration{
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;

}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -ms-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.bounceInUp {
    -webkit-animation-name: bounceInUp;
    -moz-animation-name: bounceInUp;
    -ms-animation-name: bounceInUp;
    -o-animation-name: bounceInUp;
    animation-name: bounceInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-duration: 1s;
}
.registration-form-second{
    display: none;
}
.contact-text{
    float: left;
    width: 100%;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -moz-transform: none;
        transform: none;
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -moz-transform: none;
        transform: none;
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -ms-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}
/* Changes in Design 8-Feb-2017 */
.home-bottom-box{
    padding: 60px 0;
}
.why-stp a {
    display: block;
}
.why-stp > a {
    margin-top: 20px;
}
.home-bottom-box img{
    transition: all .6s ease-in-out;
    max-height: 157px;
    margin-bottom: 20px;
}
.home-bottom-box img:hover{
    transform: scale(1.2);
}
.testimonial{
    padding: 10px 30px 0 30px;
    margin: 0;
}
.testimonial a{
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 20px;
    font-weight: bold;
    color: #296b77;
    margin-bottom: 0;
}
.testimonial a:hover{
    color: #1297a6;
}
.text-center span{
    color: #faa258;
}
.text-center span:hover{
    color: #9e520b;
}
/* Testimonial Slider */
.testimonials-slider{
    position: relative;
}
.testimonials-slider img{
    width: 100%;
    height: 600px;
}
.testimonials-slider .carousel-inner .carousel-caption{
    top:110px;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    width: 300px;
    height: 300px;
    line-height: 1.5;
    text-align: left;
    /*    background: #000;
        background: rgba(0, 0, 0, .8);*/
}
.testimonials-slider .carousel-inner .carousel-caption span{
    text-transform: uppercase;
    font-size: 16px;
}
/* About */
.aboutContent:last-child{
    margin-bottom: 40px;
}
.marketing-inner-line{
    margin-bottom: 20px;
}
.our-tools{
    border-top: 4px solid #11636f;
    max-width: 510px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
.our-tools span.glyphicon{
    font-size: 30px;
}
.make-profit{
    background: #f8f8f8;
}
.revealOnScroll h2{
    font-weight: normal;
    color: #525252;
    font-size: 30px;
}
.commission{
    color: #0d6676;
    font-size: 60px;
}

.commission:hover {
    color: #1eaec8;
    cursor: pointer;
}
.revenue-container h2{
    color: #116371;
    text-transform: uppercase;
    font-size: 32px;
}

.revenue-container h2 i {
    margin-left: 20px;
    font-size: 17px;
    vertical-align: bottom;
    line-height: 32px;
}

.revenue-container h4{
    color: #010101;
    font-size: 30px;
}

.revenue-container p {
    padding: 40px;
    border: 1px solid #ddd;
}
.revenue{
    margin-bottom: 60px;
}
.revenue img{
    border: 6px solid #2d6d77;
}

.revenue-container .fancybox {
    display: block;
    text-align: center;
    padding: 25px 0;
}
#ib .fancybox img, #hybrid .fancybox img{
    max-width: 50%;
}
.commission-container img{
    float: left;
    width: 100%;
}
.collaboration-paragraf p{
    margin: 0;
    line-height: 1.6em;
    font-size: 28px;
}
.collaboration-paragraf span{
    font-size: 28px;
    font-weight: 400;
}
.btn-primary{
    background: #0c88a0;
}
.btn-primary:focus, .btn-primary.focus,.btn-primary:hover{
    background: #0fa1bd;
}
label{
    color: #0c88a0;
}

.footer-right{
    padding: 41px 0;;
}