.backToTop{
    position: fixed;
    top: 85%;
    left: 95%;
    cursor: pointer;
}

.menu-home {
    padding: 16px 0;
}

.marketing-tools-wrapper h2 {
    background-color: #0c88a0;
    color: #fff;
    padding: 10px 0;
}

.select-language {
    width: 50%;
    font-size: 16px;
}

#home iframe {
    width: 100%;
    height: 300px;
}

#home textarea, #menu1 textarea {
    width: 100%;
    resize: none;
}

#home button {
    display: block;
    margin: 20px auto;
}


.select-campaign, #home .marketing-tools-thumbnails, #home .generate-links-button, .banner-links, .mailer-links, .lp-links, #loading {
    display: none;
}

#banner-preview img {
    max-width: 300px;
    max-height: 210px;
}

#downloadLP a, #downloadMailer a, #downloadSubMailer a {
    color: #fff;
}
