.margin-from-footer{
    margin-bottom: 300px;
}
.globalNews{
    width: 100%;
    height: 80px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    color: black;
    margin-bottom: 50px;
    margin-top: 100px;
    border-bottom: 1px solid #ECECEC;
}
.recentNews{
    width: 90%;
    height: 30px;
    margin: auto;
    color: black;
    margin-top: 50px;
    font-size: 20px;
    border-bottom: 1px solid #ECECEC;
}
.newsChooser{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.newsChooser a div{
    width: 100%;
    height: 30px;
    margin: auto;
    margin-top: 30px;
    border-bottom: 1px solid #ECECEC;
    padding-left: 20px;
}
.newsChooser a:hover div{
    transition: all .5s ease-in;
    -webkit-transform:scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:scale(1.20); /* Opera */
    transform:scale(1.20);
}
.pictureHolder{
    height: 300px;
}
.pictureHolder p{
    display: block;
    float: right;
    text-align: center;
    text-transform: uppercase;
    width: 35%;
    margin-top: 10%;
    font-size: 25px;
    color: black;
}
.pictureHolder img{
    display: block;
    float: left;
    height: 100%;
    width: 60%;
}
#date{
    width: 100%;
    display: block;
    float: left;
    color: black;
    font-size: 25px;
    height: 50px;
    margin-top: 50px;
}
.newsHolder{
    display: none;
}
.newsType{
    font-size: 20px;
    color: #0078D7;
}
/*FOREX NEWS*/
.oneNewsDiv{
    width: 100%;
    float: left;
    margin-bottom: 50px;
}
.oneNewsDiv:hover{
    transition: all .5s ease-in;
    -webkit-transform:scale(1.10);  /*Safari and Chrome*/ 
    -moz-transform:scale(1.10);  /*Firefox */
    -ms-transform:scale(1.10);  /*IE 9 */
    -o-transform:scale(1.10);  /*Opera*/ 
    transform:scale(1.10);
    cursor: pointer;
    border-radius: 10px;
    background-color: #ECECEC;
}
.oneNewsDiv:hover .title{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transition: background-color .5s ease-in;
    background-color: #116372;
    color: white;
    border-bottom: 2px solid white;
}
.oneNewsDiv:hover .description{
    color: black;
}
.title{
    width: 100%;
    font-size: 25px;
    min-height: 50px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    line-height: 30px;
    border-bottom: 1px solid #ECECEC;
    color: black;
}
.description{
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    line-height: 25px;
    text-align: justify;
    color: #525277;
}
/*FOREX ANALYSIS*/
.analysisHolder{
    display: none;
}
.oneAnalysisDiv{
    width: 100%;
    float: left;
    margin-bottom: 50px;
}
.oneAnalysisDiv:hover{
    transition: all .5s ease-in;
    -webkit-transform:scale(1.10);  /*Safari and Chrome*/ 
    -moz-transform:scale(1.10);  /*Firefox */
    -ms-transform:scale(1.10);  /*IE 9 */
    -o-transform:scale(1.10);  /*Opera*/ 
    transform:scale(1.10);
    cursor: pointer;
    border-radius: 10px;
    background-color: #ECECEC;
}
.oneAnalysisDiv:hover .title2{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transition: background-color .5s ease-in;
    background-color: #13869E;
    color: white;
    border-bottom: 2px solid white;
}
.oneAnalysisDiv:hover .description2{
    color: black;
}
.title2{
    width: 100%;
    font-size: 25px;
    min-height: 50px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    line-height: 30px;
    border-bottom: 1px solid #ECECEC;
    color: black;
}
.description2{
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    line-height: 25px;
    text-align: justify;
    color: #525277;
}
/*@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}*/

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.animated {
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-duration: 1s;
}