/* Registration Loading Page */
body{
    margin: 0px;
    font-family: 'Arimo', 'tahoma', 'verdana', 'sans-serif';
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, rgba(214,214,214,1) 0%, rgba(20,179,147,1) 100%);
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, rgba(214,214,214,1) 0%, rgba(20,179,147,1) 100%);
    background-image: -o-radial-gradient(center, ellipse farthest-corner, rgba(214,214,214,1) 0%, rgba(20,179,147,1) 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, rgba(214,214,214,1)), color-stop(80, rgba(20,179,147,1)));
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(214,214,214,1) 0%, rgba(20,179,147,1) 100%);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(214,214,214,1) 0%, rgba(20,179,147,1) 100%);
}
.registration-message{
    padding-top: 10%;
}
/* FALSE */
.errorContainer{
    width: 50%;
    margin:auto;
/*    margin-top: 10%;*/
    background-color: #DBDBDB;
    padding-bottom: 10px;
    border-radius:10px;
}
.FalseGlyph{
    font-size: 90px;
    color: white;
    vertical-align: middle;
    margin-left: 5%;
}
.note{
    width: 100%;
    margin: 0px;
    font-size: 70px;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    background-image: -ms-linear-gradient(top, rgba(255,89,92,1) 0%, rgba(167,39,42,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,89,92,1) 0%, rgba(167,39,42,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,89,92,1) 0%, rgba(167,39,42,1) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,89,92,1)), color-stop(100, rgba(167,39,42,1)));
    background-image: -webkit-linear-gradient(top, rgba(255,89,92,1) 0%, rgba(167,39,42,1) 100%);
    background-image: linear-gradient(to bottom, rgba(255,89,92,1) 0%, rgba(167,39,42,1) 100%);
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
}
.noteText{
    text-align: center;
    font-size: 35px;
    line-height: 35px;
    color: #BA1B18;
    margin-top: 30px;
}
.falseTextGlyph{
    font-size: 35px;
    color:#BA1B18;
    vertical-align: middle;
    margin-left: 2%;
}
#errorMessage{
    line-height: 1.5;
    width: 100%;
    height: auto;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    margin-top: 35px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
    background-image: -ms-linear-gradient(top, rgba(171,41,44,1) 0%, rgba(230,56,59,1) 80%);
    background-image: -moz-linear-gradient(top, rgba(171,41,44,1) 0%, rgba(230,56,59,1) 80%);
    background-image: -o-linear-gradient(top, rgba(171,41,44,1) 0%, rgba(230,56,59,1) 80%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(171,41,44,1)), color-stop(80, rgba(230,56,59,1)));
    background-image: -webkit-linear-gradient(top, rgba(171,41,44,1) 0%, rgba(230,56,59,1) 80%);
    background-image: linear-gradient(to bottom, rgba(171,41,44,1) 0%, rgba(230,56,59,1) 80%); 
}
.goHome{
    padding: 0px;
    overflow: hidden;
    height: 70px;
    width: 30%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-image: -ms-linear-gradient(bottom, rgba(90,190,87,1) 0%, rgba(15,155,15,1) 80%);
    background-image: -moz-linear-gradient(bottom, rgba(90,190,87,1) 0%, rgba(15,155,15,1) 80%);
    background-image: -o-linear-gradient(bottom, rgba(90,190,87,1) 0%, rgba(15,155,15,1) 80%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(90,190,87,1)), color-stop(80, rgba(15,155,15,1)));
    background-image: -webkit-linear-gradient(bottom, rgba(90,190,87,1) 0%, rgba(15,155,15,1) 80%);
    background-image: linear-gradient(to top, rgba(90,190,87,1) 0%, rgba(15,155,15,1) 80%);
}
.goHome p{
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 35px;
    line-height: 65px;
    vertical-align: middle;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
}
.goHome p span{
    vertical-align: middle;
    padding-left: 0px;
    margin-left: 0px;
}
.goHome a:hover{
    text-decoration: none;
}
.goHome:hover{
    background-image: -ms-linear-gradient(bottom, rgba(101,214,98,1) 0%, rgba(17,179,17,1) 80%);
    background-image: -moz-linear-gradient(bottom, rgba(101,214,98,1) 0%, rgba(17,179,17,1) 80%);
    background-image: -o-linear-gradient(bottom, rgba(101,214,98,1) 0%, rgba(17,179,17,1) 80%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(101,214,98,1)), color-stop(80, rgba(17,179,17,1)));
    background-image: -webkit-linear-gradient(bottom, rgba(101,214,98,1) 0%, rgba(17,179,17,1) 80%);
    background-image: linear-gradient(to top, rgba(101,214,98,1) 0%, rgba(17,179,17,1) 80%);
}
.goHome a:focus{
    text-decoration: none;
}
/* TRUE */
.trueContainer{
    width: 50%;
    margin:auto;
/*    margin-top: 10%;*/
    background-color: #DBDBDB;
    padding-bottom: 10px;
    border-radius:10px;
}
.trueGlyph{
    font-size: 90px;
    color: white;
    vertical-align: middle;
    margin-left: 5%;
}
.noteTrue{
    width: 100%;
    margin: 0px;
    font-size: 70px;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    background-image: -ms-linear-gradient(top, rgba(36,214,0,1) 0%, rgba(39,148,36,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(36,214,0,1) 0%, rgba(39,148,36,1) 100%);
    background-image: -o-linear-gradient(top, rgba(36,214,0,1) 0%, rgba(39,148,36,1) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(36,214,0,1)), color-stop(100, rgba(39,148,36,1)));
    background-image: -webkit-linear-gradient(top, rgba(36,214,0,1) 0%, rgba(39,148,36,1) 100%);
    background-image: linear-gradient(to bottom, rgba(36,214,0,1) 0%, rgba(39,148,36,1) 100%);
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
}
.TrueNoteText{
    text-align: center;
    font-size: 35px;
    color: #27A61B;
    margin-top: 30px;
    text-shadow: 1px 1px 1px black;
}
.trueTextGlyph{
    font-size: 35px;
    color:#27A61B;
    vertical-align: middle;
    margin-left: 2%;
}
#trueMessage{
    width: 100%;
    height: auto;
    line-height: 1.5;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    margin-top: 35px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
    background-image: -ms-linear-gradient(bottom, rgba(36,214,0,1) 0%, rgba(39,148,36,1) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(36,214,0,1) 0%, rgba(39,148,36,1) 100%);
    background-image: -o-linear-gradient(bottom, rgba(36,214,0,1) 0%, rgba(39,148,36,1) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(36,214,0,1)), color-stop(100, rgba(39,148,36,1)));
    background-image: -webkit-linear-gradient(bottom, rgba(36,214,0,1) 0%, rgba(39,148,36,1) 100%);
    background-image: linear-gradient(to top, rgba(36,214,0,1) 0%, rgba(39,148,36,1) 100%); 
}
.goHome{
    padding: 0px;
    overflow: hidden;
    height: 70px;
    width: 30%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-image: -ms-linear-gradient(bottom, rgba(90,190,87,1) 0%, rgba(15,155,15,1) 80%);
    background-image: -moz-linear-gradient(bottom, rgba(90,190,87,1) 0%, rgba(15,155,15,1) 80%);
    background-image: -o-linear-gradient(bottom, rgba(90,190,87,1) 0%, rgba(15,155,15,1) 80%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(90,190,87,1)), color-stop(80, rgba(15,155,15,1)));
    background-image: -webkit-linear-gradient(bottom, rgba(90,190,87,1) 0%, rgba(15,155,15,1) 80%);
    background-image: linear-gradient(to top, rgba(90,190,87,1) 0%, rgba(15,155,15,1) 80%);
}
.goHome p{
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 35px;
    line-height: 65px;
    vertical-align: middle;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
}
.goHome p span{
    vertical-align: middle;
    padding-left: 0px;
    margin-left: 0px;
}
.goHome a:hover{
    text-decoration: none;
}
.goHome:hover{
    background-image: -ms-linear-gradient(bottom, rgba(101,214,98,1) 0%, rgba(17,179,17,1) 80%);
    background-image: -moz-linear-gradient(bottom, rgba(101,214,98,1) 0%, rgba(17,179,17,1) 80%);
    background-image: -o-linear-gradient(bottom, rgba(101,214,98,1) 0%, rgba(17,179,17,1) 80%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(101,214,98,1)), color-stop(80, rgba(17,179,17,1)));
    background-image: -webkit-linear-gradient(bottom, rgba(101,214,98,1) 0%, rgba(17,179,17,1) 80%);
    background-image: linear-gradient(to top, rgba(101,214,98,1) 0%, rgba(17,179,17,1) 80%);
}
.goHome a:focus{
    text-decoration: none;
}

