@media(max-width:1900px){
    .affiliate-img img{
        max-width: 100%;
        width: 100%;
    }
}
@media(max-width:1700px) {
    .header-bg h2{
        font-size: 50px;
    }
    .header-bg h3{
        display: none;
    }
    .affiliate{
        padding-top: 0;
    }
    .slideImg img{
        width: 50%;
    }
    .affiliate-person{
        margin-bottom: -1px;
    }
    .container-fluid.affiliate{
        padding: 60px;
    }
}
@media(max-width:1530px) {
    .header-bg .animated img{
        display: none;
    }
    .owl-carousel .owl-item{
        height: 300px;
    }
    .safe{
        margin-bottom: 0;
    }
    #news{
        margin-right: 40px;
    }
    .newsSlide{
        margin-right: 40px;
    }
    /*Forgot pass form*/
    .forgot-pass-container{
        width: 35%;
    }
    .forgot-pass label{
        width: 100%;
    }
    .forgot-pass #requestMail{
        width: 100%;
    }
    #sendQuerry{
        float: right;
        margin-right: 20%;
    }
}

@media(max-width:1470px){
    .footer{
        overflow: hidden;
        padding-bottom: 0;
    }
}
@media(max-width:1420px){
    .footer{
        padding: 0;
    }
    .footer p{
        font-size: 20px;
    }
    .fa.backToTop{
        left: 0;
        margin-left: 20px;
    }
}
@media(max-width:1300px){
    .header-bg p{
        display: none;
    }
    .header-bg h2{
        margin-top: 0;
        margin-bottom: 40px;
    }
    .news-animate{
        width: 100%;
        float: left;
        margin-bottom: 40px;
    }
    .contentHolder{
        margin-left: 0;
        padding: 20px;
    }
    .testimonials-slider .carousel-inner .carousel-caption{
        font-size: 16px;
        top: 50px;
    }
}
@media(max-width:1257px){
    .footer{
        margin-bottom: -20px;
        padding: 60px 0;
    }
    .footer p{
        margin: 20px 0;
    }
    /* News */
    .slideImg,#slideshow{
        display: none;
        width: 0;
        height: 0;
    }
    .newsSlide,#news{
        margin-right: 10px;
        width: 100%;
        padding: 40px;
    }
    .newsLink{
        margin-bottom: 0;
        margin-top: 40px;
    }
    .owl-carousel  .owl-wrapper, .owl-carousel  .owl-item{
        width: 100% !important;
        float: left;
    }
    /* News */
    .collaboration h2{
        margin-bottom: 0;
    }
    .affiliate .affiliate-info,.affiliate .affiliate-img,.make-profit .affiliate-info,.make-profit .affiliate-img{
        width: 100%;
    }
    .affiliate .affiliate-img{
        display: none;
    }
    .security a{
        left: 60px;
    }
    .registration-form-second{
        display: block;
        padding: 20px 2%;
    }
    .registration-form{
        display: none;
    }
    .form-left,.form-right{
        padding: 20px;
    }
    .register-form .form-right .control-label{
        text-align: left;
    }
    /*Forgot pass form*/
    forgot-pass-container{
        width: 50%;
    }
    .forgot-pass label{
        width: 100%;
        margin-left: 10px;
    }
    .forgot-pass #requestMail{
        width: 100%;
    }
}

@media (min-width:991px) and (max-width: 1530px) {
    .person {
        height: 100%;
        max-height: 696px;
        position: relative;
    }
    
    .person img {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

@media(max-width:1156px){
    .footer{
        padding: 50px 0;
    }
    .header-bg a{
        margin-bottom: 30px;
    }
}
@media(max-width:1120px){
    .footer{
        padding: 0;
    }
    .footer ul li{
        float: left;
        width: 100%;
        padding-bottom: 40px;
    }
    .footer ul li{
        margin: 0;
    }
    .footer{
        overflow: hidden;
        padding: 0;
        margin-bottom: 0;
    }
    .basic-data{
        padding: 10px 20px;
    }
    .basic-data h3{
        font-size: 20px;
    }
    /*Forgot pass form*/
    .forgot-pass-container{
        width: 40%;
        /*float: left;*/
        /*margin-left: 0px;*/
    }
    .forgot-pass label{
        width: 100%;
    }
    .forgot-pass #requestMail{
        width: 100%;
    }
    #sendQuerry{
        float: right;
        margin-right: 20%;
    }
}
@media(max-width:1100px){
    .header-bg h2{
        display: none;
    }
    .chooseDateForm{
        padding: 0 30%;
    }
}
@media(max-width:1024px){
    .accountdetails-form1 .register{
        width: auto;
    } 
}
@media(max-width:990px){
    .footer p{
        margin: 0;
        display: none;
    }
    .footer{
        padding-top: 10%;
    }
    .linkField{
        font-size: 16px;
    }
    .properties span, .properties label{
        font-size: 18px;
    }
    .testimonials-slider .carousel-inner .carousel-caption{
        display: none;
    }
}
@media(max-width:930px){
    .grid a{
        width: 100%;
    }
    .footer ul li a{
        font-size: 16px;
        padding: 10px 150px;
    }
    .security a{
        bottom: 10%;
    }
    /*Forgot pass form*/
    .forgot-pass-container{
        width: 300px;
        float: left;
        margin-left: 8%;
    }
    .forgot-pass label{
        width: 100%;
        margin-left: 10px;
    }
    .forgot-pass #requestMail{
        width: 100%;
    }
    #sendQuerry{
        float: right;
        margin-right: 20%;
    }
    .testimonial{
        padding: 10px 10px 10px 10px;
    }
}

@media(max-width: 991px) {
    .person img {
        max-width: 50%;
    }
    
    .login-buttons {
        float: none;
        clear: both;
        text-align: center;
    }
}

@media(max-width:900px) {
    .navbar-header {
        float: none;
        text-align: center;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
        display: block;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .top-menu-bg li{
        border-left: none;
    }
    .aboutContent h1{
        font-size: 20px;
    }
    .link-generator, .link-history{
        font-size:18px
    }
    .navbar-toggle{
        float: right;
        display: inline-block;
        margin: 0;
    }
    .testimonial{
        padding: 10px 10px 10px 10px;
    }
    .text-center span{
        left: 25%;
    }
}
@media(max-width:770px) {
    .why-stp {
        margin-bottom: 40px;
    }
    
    .why-stp > a {
        margin-top: 0;
    }
    
    .aboutContent{
        padding: 0;
    }
    
    .grid figcaption h2, .main h2, .welcome-text h1, .register-button-home h3, .captcha-home h3{
        text-align: center;
    }
    .home-form .col-sm-10{
        width: 100%;
    }
    .home-form .control-label{
        text-align: left;
        width: 100%;
    }
    .register{
        width: 100%;
    }
    .register-button-home p{
        margin-left: 0;
    }
    label{
        margin-bottom: 10px;
    }
    .home-form .newPassTooltip .newPassTooltipText{
        width: 80%;
        left: 0;
        margin: 0 10%;
    }
    .captcha-home{
        float: left;
        width: 100%;
        padding-left: 0;
    }
    .captcha-home #captureCode{
        float: none;
        text-align: center;
        padding: 0 10%;
    }
    .captcha-home .generate-code #icaptcha{
        width: 60% !important;
        margin-left: 20% !important;
    }
    .captcha-home .generate-code .captcha-field{
        width: 100%;
    }
    .home-left-form{
        padding: 10%;
    }
    .login-form{
        padding: 40px;
    }
    .login{
        width: 100%;
    }
    .newPassTooltip{
        width: 100%;
        margin: 0;
        margin-top: 15px;
    }
    .register-form .robotStatus{
        margin: 0;
        padding: 20px;
    }
    .register-form #submit{
        width: 100%;
    }
    .news-animate p, .news-animate img{
        float: left;
        width: 100%;
    }
    #wrapper {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .account-toggle{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .form-horizontal .control-label{
        width: 100%;
    }
    .detailsHeader{
        width: 100%;
        text-align: center;
    }
    .detailsGlyphicon{
        margin-left: 0;
        font-size: 20px;
    }
    .focused{
        letter-spacing: 0;
    }
    .testimonial{
        padding: 10px 10px 10px 10px;
    }
    .text-center span{
        left: 25%;
    }
}
@media(max-width:720px){
    .person img {
        max-width: 80%;
    }
    
    .header-bg a{
        width: 80%;
    }
    .footer-right p{
        float: left;
        width: 100%;
    }
    .owl-carousel .owl-item{
        height: 400px;
    }
    .basic-data{
        width: 100%;
    }
    .navbar-toggle{
        float: right;
    }
    .thumbnail{
        margin: 0;
        height: auto;
    }
    .testimonial{
        padding: 10px 10px 10px 10px;
    }
}
@media(max-width:650px){
    .chooseDateForm {
        padding: 0;
    }
    
    .testimonial{
        padding: 10px 10px 10px 10px;
    }
    .testimonials-slider .carousel-inner .carousel-caption{
        top: 50px;
        height: auto;
        font-size: 14px;
    }
    .toolsMenuContainer div{
        font-size: 16px;
    }
}
@media(max-width:600px){
    .text-center span{
        left: 35%;
    }
    .footer-right {
        float: left;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }
    /*marketing tools*/
    .toolsMenuContainer{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        padding: 10px;
    }
    .toolsMenuContainer div{
        padding: 0;
        width: 100%; 
        margin-bottom: 10px; 
    }
    #bannerMenu{
        border-radius: 0;
    }
    .toolsMenuContainer a{
        margin-bottom: 6px;
    }
    .generateURL{
        width: 100%;
    }
    .mailerImage{
        width: 100%;
        margin-left: 0; 
        height: auto; 
        margin-bottom: 0; 
    }
    #landingLang, #mailersLang,#select-mailers{
        width: 100%;
    }
    .mailerInfo button{
        margin-bottom: 20px;
    }
}
@media(max-width:540px){
    .login-buttons > button {
        padding: 15px 50px;
        margin-right: 0;
        font-family: "Oswald", sans-serif;
        letter-spacing: 3px;
        display: block;
        margin: 10px auto;
        width: 80%;
    }
    
    
    .footer ul li a{
        font-size: 16px;
        padding: 6px 100px;
    }
    .footer ul li{
        padding-bottom: 20px;
    }
    footer p{
        font-size: 12px;
    }
    .affiliate button, .make-profit button{
        width: 100%;
        padding: 20px 60px;
    }
    .home-form a{
        font-size: 14px;
    }
    .owl-carousel .owl-item{
        height: 500px;
    }
    .security a{
        bottom: 0;
    }
    .marketing-toolsTabs .focused{
        height: auto;
    }
    .mainGlyphicon{
        font-size: 20px;
        margin-right: 0;
    }
    .bannerImage{
        padding: 0;
        width: 100%;
    }
    .linkField{
        font-size: 14px;
    }
}
@media(max-width:460px){
    .top-header {
        padding-bottom: 0;
    }
    
    .header-logo {
        float: none;
        text-align: center;
    }
    
    .top-header .pull-right {
        float: none!important;
        text-align: center;
        margin-top: 20px;
        margin-left: 0;
    }
    
    .header-bg a{
        margin-left: 0;
        max-width: 90%;
        padding: 10px 90px;
    }
    #date{
        line-height: 30px;
    }
    #page-content-wrapper{
        padding: 0;
    }
    #paymentButton{
        font-size: 18px;
        letter-spacing: 0;
    }
    .contactFormContainer form div.contact-ib{
        width: 100%;
        margin-left: 0;
    }
    .FAQcontent{
        width: 100%;
        margin-left: 0;
        padding: 30px;
    }
    .FAQcontent h1{
        margin-left: 0;
        width: 100%;
    }
    .FAQcontent h3{
        width: 100%; 
        margin-left: 0; 
        padding-left: 0; 
    }
    .FAQcontent p{
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
    
    .infoText p, .contactFormContainer p, .contactFormContainer form div {
        width: 100%;
    }
    
}
@media(max-width:380px){
    .header-bg a{
        max-width: 100%;
    }
    .affiliate button{
        margin-top: 0;
        margin-left: 0;
    }
    .footer{
        background: none;
        background-color: #0c94ae;
        height: 200px;
    }
    .footer ul li{
        padding-bottom: 0;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .collaboration h1{
        font-size: 30px;
    }
    .container-fluid.affiliate{
        padding: 10px;
    }
    .make-profit{
        padding: 10px;
    }
    .owl-carousel .owl-item{
        height: 600px;
    }
    .marketing-tools .pull-right{
        visibility: hidden;
    }
    .pull-right{
        position: relative;
        width: 100%;
        margin-top: 10px;
        margin-left: 20px;
        right: 0;
    }
    .pull-right .fa-inverse{
        background: #000;
    }
    .top-header a img{
        width: 60%;
    }
    .accordion-section-title.active, .accordion-section-title:focus, .accordion-section-title{
        line-height: 1.5;
    }
    /*    .aboutContent{
            width:94%;
            margin-left:3%;
        }*/
    #captchaStatusFalse{
        line-height: 25px;
        text-align: center;
    }
    .captcha input{
        margin-left: 10%;
    }
    #icaptchaId{
        margin-left: 0;
    }
    .generate-code a{
        margin-left: 15%;
    }
    .capture-text #DemoSettings{
        text-align: center;
    }
    .detailsHeader{
        font-size: 18px;
    }
    #paymentButton{
        font-size: 14px;
        letter-spacing: 0;
    }
    .account-details p, .account-details h3{
        visibility: visible;
    }
}
@media(max-width:360px){
    .header-bg a{
        padding: 10px 50px;
    }
    .globalNews{
        border-bottom: none;
    }
    .forgot-pass-container{
        width: 250px;
        float: left;
        margin-left: 10px;
    }
    .mainGlyphicon{
        margin-right: 0;
        font-size: 30px;
    }
    .mainDetailsHeader h3{
        font-size: 16px;
    }
    content.fadeInLeft{
        margin: 0;
    }
    .accountdetails-form1 label{
        width: 40%;
    }
    .mainGlyphicon{
        margin-right: 0;
        width: 100%;
        font-size: 24px;
    }
    .link-generator, .link-history{
        font-size: 14px;
    }
    .linkField{
        font-size: 12px;
    }
    .newsLink a{
        margin: 0;
    }
    .footer-left{
        float: left;
        width: 100%;
    }
    .footer-right{
        float: left;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }
    .footer{
        padding-top: 20px;
    }
    .navbar-nav li{
        margin: 0;
    }
/*    .toolsMenuContainer{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        padding: 10px;
    }*/
/*    .toolsMenuContainer div{
        padding: 0;
        width: 100%; 
        margin-bottom: 10px; 
    }
    #bannerMenu{
        border-radius: 0;
    }
    .toolsMenuContainer a{
        margin-bottom: 6px;
    }
    .generateURL{
        width: 100%;
    }
    .mailerImage{
        width: 100%;
        margin-left: 0; 
        height: auto; 
        margin-bottom: 0; 
    }
    #landingLang, #mailersLang,#select-mailers{
        width: 100%;
    }
    .mailerInfo button{
        margin-bottom: 20px;
    }*/
}
/* Width Min */
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
