.select-tool{
}
select#language-choice,#hidden_div, select#select-banners{
    width:30%;
    font-size:16px;
    font-family:cursive;
}
/*select{
    display:none;
    width:100%;
    height:30px;
    font-size:16px;
    font-family:cursive;
}*/
/* Img Banners - increase effect */
.thumbnail {
    margin: 80px 0;
}
.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.banner-desc{
    float: left;
}
.banner-desc form{
    margin: 20px 0;
}
input.MyButton {
    color: #3e403d;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    -moz-box-shadow: 6px 6px 5px #999;
    -webkit-box-shadow: 6px 6px 5px #999;
    box-shadow: 6px 6px 5px #999;
}
input.MyButton:hover {
    color: #000;
    -moz-box-shadow: 5px 5px 4px #adadad;
    -webkit-box-shadow: 5px 5px 4px #adadad;
    box-shadow: 5px 5px 4px #adadad;
}
.generated-link{
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #c6c6c6;
    height: auto;
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-box-shadow: 6px 6px 5px #999;
    -webkit-box-shadow: 6px 6px 5px #999;
    box-shadow: 6px 6px 5px #999;
}
.img-properties{
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #c6c6c6;
    height: auto;
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-box-shadow: 6px 6px 5px #999;
    -webkit-box-shadow: 6px 6px 5px #999;
    box-shadow: 6px 6px 5px #999;
}
/* End Banners Efects */
.marketing-tools footer{
    
}

@media(max-width:768px) {
    
    select#language-choice,#hidden_div, select#select-banners {
        width:100%;
    }
    
    .payment-tables button {
        margin: 10px auto;
    }
    
    .properties {
        text-align: center;
        margin-top: 20px;
    }
}