.newPassTooltip{
    position: relative;
    display: inline-block;
}
.newPassTooltip .newPassTooltipText{
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 6px;
    letter-spacing: 1px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    font-size: 14px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.newPassTooltip .newPassTooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.form-right .newPassTooltip .newPassTooltipText:before, .form-group:first-child .newPassTooltip .newPassTooltipText:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 45%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #555;
}

.form-right .newPassTooltip .newPassTooltipText:after, .form-group:first-child .newPassTooltip .newPassTooltipText:after {
    display: none;
}

/* Show the tooltip text when you mouse over the tooltip container */
.newPassTooltip:hover .newPassTooltipText {
    visibility: visible;
    opacity: 1;
}
.formDiv .newPassTooltip {
    text-align: left;
}

.form-right .newPassTooltip .newPassTooltipText, .form-group:first-child .newPassTooltip .newPassTooltipText {
    left: 25%;
    bottom: -130%;
}

.form-right .textarea-form .newPassTooltip .newPassTooltipText {
    bottom: -50%;
}

.form-right .termsAndConditions .newPassTooltip .newPassTooltipText {
    left: 35%;
    bottom: -250%;
}