body {
font-family:'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
}
html:lang(ar) body {
    direction: rtl;
} 

.risktext{
	font-size: 10px;
	text-align:center;
	font-color: gray;
	}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
	margin: auto;
	font-size: 15px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
	

.logo {
display:block;
width:300px;
padding-top:40px;
padding-bottom:60px;
}
.headerimg {
background: #000;
background-image: url("../../../../../img/headerimg.jpg") ;
background-repeat:no-repeat;
background-position:top;
background-size: 100% 100%;

height:706px;
}
.header h1 {
text-transform:none;
color:#fff;
display:block;
float:left;
margin-right:12px;
font-size:84px;
}
.header .give, .header .me, .header .more {
margin-right:18px;
font-weight:300;
text-shadow: 2px 2px #000;
    -webkit-animation: header 0.4s ease backwards;
    -moz-animation: header 0.4s ease backwards;
    -o-animation: header 0.4s ease backwards;
    -ms-animation: header 0.4s ease backwards;
    animation: header 0.4s ease backwards;
}
.header .give {
    -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation-delay: 0s;
}
.header .more {
margin-right:0;
font-weight:600;
    -webkit-animation-delay: 2.5s; /* Chrome, Safari, Opera */
    animation-delay: 2.5s;
}
.header .me {
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    animation-delay: 1.5s;
}
@-webkit-keyframes header {
    0% {
opacity:0;
    }
    100% {
       opacity: 1;
    }
}
@keyframes header {
    0% {
opacity:0;
    }
    100% {
       opacity: 1;
    }
}
.header {
position:relative;
}
.header .slides {
padding-top:16px;
display:block;
clear:left;
position:relative;
height:240px;
}
.header .slides img {
height:110px;
margin-right:20px;
}
.header .slides h2 {
color:#fff;
font-size:42px;
text-transform:none;
font-weight:300;
padding-top:10px;
padding-bottom:20px;
}
.header .slide1, .header .slide2, .header .slide3, .header .slide4 {
display:block;
height:240px;
position:absolute;
top:0;
left:0;
}
.header .slide1, .header .slide2, .header .slide3, .header .slide4 {

}
.header .slide1 {
    -webkit-animation: slide1 15s ease infinite backwards;
    -moz-animation: slide1 15s ease infinite backwards;
    -o-animation: slide1 15s ease infinite backwards;
    -ms-animation: slide1 15s ease infinite backwards;
    animation: slide1 15s ease infinite backwards;
-webkit-animation-delay:1s;
animation-delay:1s;
}
.header .slide2 {
    -webkit-animation: slide2 7s ease  backwards;
    -moz-animation: slide2 7s ease  backwards;
    -o-animation: slide2 7s ease  backwards;
    -ms-animation: slide2 7s ease  backwards;
    animation: slide2 7 ease  backwards;
animation-delay:4s;
}
.header .slide3 {
    -webkit-animation: slide3 15s ease infinite backwards;
    -moz-animation: slide3 15s ease infinite backwards;
    -o-animation: slide3 15s ease infinite backwards;
    -ms-animation: slide3 15s ease infinite backwards;
    animation: slide3 15 ease infinite backwards;
animation-delay:5s;
}
.header .slide4 {
    -webkit-animation: slide4 15s ease infinite backwards;
    -moz-animation: slide4 15s ease infinite backwards;
    -o-animation: slide4 15s ease infinite backwards;
    -ms-animation: slide4 15s ease infinite backwards;
    animation: slide4 15 ease infinite backwards;
animation-delay:1s;
}
@-webkit-keyframes slide1 {
    0% {
opacity:0;
    }
4% {
opacity:0;
}
6% {
opacity:1;
}
24% {
opacity:1;
}
26% {
opacity:0;
}
    100% {
       opacity: 0;
    }
}
@keyframes slide1 {
    0% {
opacity:0;
    }
4% {
opacity:0;
}
6% {
opacity:1;
}
24% {
opacity:1;
}
26% {
opacity:0;
}
    100% {
       opacity: 0;
    }
}
@-webkit-keyframes slide2 {
    0% {
opacity:0;
    }
27% {
opacity:0;
}
30% {
opacity:1;
}
48% {
opacity:1;
}
50% {
opacity:0;
}
    100% {
       opacity: 0;
    }
}
@keyframes slide2 {
    0% {
opacity:0;
    }
27% {
opacity:0;
}
30% {
opacity:1;
}
48% {
opacity:1;
}
50% {
opacity:0;
}
    100% {
       opacity: 0;
    }
}
@-webkit-keyframes slide3 {
    0% {
opacity:0;
    }
51% {
opacity:0;
}
53% {
opacity:1;
}
73% {
opacity:1;
}
75% {
opacity:0;
}
    100% {
       opacity: 0;
    }
}
@keyframes slide3 {
    0% {
opacity:0;
    }
51% {
opacity:0;
}
53% {
opacity:1;
}
73% {
opacity:1;
}
75% {
opacity:0;
}
    100% {
       opacity: 0;
    }
}
@-webkit-keyframes slide4 {
    0% {
opacity:0;
    }
76% {
opacity:0;
}
78% {
opacity:1;
}
98% {
opacity:1;
}
    100% {
       opacity: 0;
    }
}
@keyframes slide4 {
    0% {
opacity:0;
    }
76% {
opacity:0;
}
78% {
opacity:1;
}
98% {
opacity:1;
}
    100% {
       opacity: 0;
    }
}
.slide2 .block50, .slide4 .block2000 {
display:block;
color:#fff;
background-color:rgba(000,0,0,0.3);
border: 2px solid white;
padding:14px;
max-width:400px;
font-size:24px;
font-weight:300;
}
.slide2 .block50 strong {
    float: left;
    font-size: 72px;
    margin-right: 20px;
    font-weight: 500;
    line-height: 62px;
}
.slide4 .block2000 .upto {
    text-transform: uppercase;
    float: left;
    margin-top: 7px;
    width: 64px;
    font-size: 38px;
}
.slide4 .block2000 strong {
font-size:84px;
font-weight:600;
}
.slide4 .block2000 {
margin-top:20px;
max-width:360px;
}
.head-button {
    background-color: #8DC74B;
    color: #ffffff;
    background: -webkit-repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%);
    background: -o-repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%);
    background: -moz-repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%);
    background: repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%);
    border-top: 1px solid #add07e;
    border-right: 1px solid #add07e;
    border-bottom: 1px solid #719f3c;
    border-left: 1px solid #719f3c;
	width:120%;
	max-width:340px;
	min-height:50px;
	/*line-height:50px;*/
	font-size:28px;
	padding:6px 6px;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	font-weight:400;
	letter-spacing: 1px;
	}
.head-button:hover {
    cursor: pointer;
	background:none;
	background-color:#6aac20;
    /*  box-shadow: 0px 0px 12px #94dd32; */
    border: 1px solid #94dd32;
color:#fff;
    text-decoration: none;
}
.head-button:active, .head-button:visited {
color:#fff;
text-decoration:none;
}
.bottom-button {
margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: 1;
    position: relative;
}
.reg-block {
background:#0f5b8e;
}
.regform.form-lg .regform-container .form-title {
    text-align: center;
    font-weight: 300;
    font-size: 25px;
/*padding-top:40px;*/
padding-bottom:30px;
text-transform:none;
letter-spacing: 0.1em;
}
.regform .regform-container {
max-width:760px;
margin-left: auto;
    margin-right: auto;
}
.regform.form-lg .regform-container .form-group button {
float:none;
    margin-left: auto;
    margin-right: auto;
}
.regform.form-lg .regform-container p.risk-warning {
text-align:center;
padding-bottom:40px;
}
.coloredblock, .greyblock {
text-align:center;
margin-top:20px;
margin-bottom:20px;
padding-bottom:40px;
}
.coloredblock {
background-color:#8bc54a;
}
.greyblock {
font-size:21px;
color:#333;
line-height:24px;
background-color:#f0f0f0;
}
.greyblock img {
margin-top: -80px;
margin-bottom: -80px;
z-index:0;
position:relative;
}
.heading {
line-height: 42px;
color:#333;
text-align:center;
font-size:40px;
text-transform:none;
padding-top:50px;
padding-bottom:20px;
font-weight:300;
}

.heading2 {
line-height: 42px;
color: #0088a0;
text-align: center;
font-size:30px;
text-transform:none;
padding-top:50px;
padding-bottom:20px;
font-weight:300;
}

.colorheading {
line-height:24px;
padding-top:40px;
padding-bottom:20px;
text-align:center;
font-size:24px;
color:#98c857;
text-transform:uppercase;
font-weight:600;
}
.bonusimg {
margin-left:auto;
margin-right:auto;
padding-top:40px;
padding-bottom:20px;
max-width:100%;
}
.discover-block {
display:block;
width:20%;
float:left;
font-size:24px;
font-weight:300;
color:#333;
text-transform:uppercase;
text-align:center;
padding-bottom:40px;
}
.discover-block img {
margin-left:auto;
margin-right:auto;
display:block;
padding-bottom:20px;
}
.tradingblock {
    font-weight:300;
    line-height:28px;
    font-size:21px;
    min-height:280px;
    display:block;
    width:25%;
    float:left;
    text-align:center;
    padding:20px;
    border-right:1px dotted #ccc;
    color:#777;
}
.tradingblock:last-child {
    border-right:none;
}
.tradingblock h4 {
    font-weight:300;
    padding-bottom:20px;
    text-transform:none;
    color:#333;
    font-size:34px;
}
.container {
padding-top: 20px;
padding-bottom: 20px;
}

.container2 {
height: 160px;
background-color: #ffffff;
padding-top: 20px;
padding-bottom: 20px;
}

h5.form-title {
    /*display:none;*/
}
#thank-you-message h6 {
    text-transform: none;
    color: #87cb4e;
    font-weight: 300;
    font-size: 27px;
}
#thank-you-message a {
    color:#058fc4;
}
#thank-you-message a:hover {
color:#fff;
}
.icon-check {
    margin-top:-8px;
    margin-right:10px;
}
.confirm-list {
    margin-left: 20px;
    margin-top: 20px;
    padding: 0;
    color: #fff;
    font-size: 24px;
    line-height: 42px;
}
.confirm-list a {
    color:#8ac745;
}
.risk {
    color: #fff;
    font-size: 14px;
    padding-top: 20px;
}
.tc {
    font-size:18px;
    padding-bottom:20px;
}
.fdb-footer .fdb-container .awards,
#section-footer .payments,
#section-footer .socialmedia {
    clear: left;
    text-align: center;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
	padding-top: 40px;
    vertical-align: middle;
}
.awards {
    text-align: center;
padding-top:40px;
padding-bottom:40px;
}
#section-footer .payments:hover .img-payments {
    opacity: 0.5;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.fdb-footer .awards .img-awards {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-left: 36px;
    margin-right: 36px;
    padding-top: 20px;
    height: 120px;
    width: auto;
    opacity: 0.8;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.fdb-footer .awards .img-awards:hover,
#section-footer .img-socialmedia:hover,
.fdb-footer .awards .img-awards-png:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}
#section-footer .img-payments {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-left: 15px;
    margin-right: 15px;
    width: 64px;
    height: auto;
}
#section-footer .img-payments:last-child {
    margin-right: 0;
}
#section-footer .payments .img-payments:hover {
    opacity: 1;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
#section-footer .img-socialmedia {
    padding-left: 7px;
    padding-right: 7px;
    width: auto;
    height: 32px;
    opacity: 0.5;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
#section-footer .img-socialmedia:hover {
    opacity: 1;
}
.fdb-footer .awards .img-awards-png {
    margin-left: 36px;
    margin-right: 36px;
    padding-top: 20px;
    height: auto;
    width: auto;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0.5;
    width: auto;
}
#section-footer .riskwarning {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: left;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
p.copyright {
text-align:center;
    margin-top: 10px;
    font-size: 11px;
    margin-bottom: 30px;
}
/* === MEDIA SCREEN === */
/* --- 1367 --- */
@media only screen and (max-width: 1367px) {
}
/* --- 1200 --- */
@media only screen and (max-width: 1200px) {
}
/* --- 992 --- */

@media only screen and (max-width: 992px) {
.tradingblock {
width:50%;
}
.tradingblock:nth-child(2) {
clear:left;
}
.tradingblock:nth-child(3) {
border-right:none;
}
.discover-block {
    display: inline-block;
    width: 230px;
float:none;
margin-right:auto;
margin-left:auto;
}
.container {
text-align:center;
}
.container2 {
height: 600px;

}
.header h1 {
font-size:64px;
}
.risk {
text-align:left;
}
.header .slide1, .header .slide2, .header .slide3, .header .slide4 {
text-align:left;
}
.broker-dv span{
    display: block;
    clear: both;
}
}
/* --- 768 --- */
@media only screen and (max-width: 768px) {
.logo {
padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.header h1 {
float:none;
}


.header .slide1, .header .slide2, .header .slide3, .header .slide4 {
    width: 100%;
    text-align: center;
}
.slides {
width:100%;
text-align:center;
}
.slide2 .block50, .slide4 .block2000 {
margin-left:auto;
margin-right:auto;
}
.header  h2 {
font-size:32px;
}
.head-button {
margin-left: auto;
margin-right: auto;
}
.risk {
text-align:center;
}
.header .slides img {
    height: 80px;
}
}
        /*600*/
@media only screen and (max-width: 600px) {
    .broker-dv img{
        width: 96% !important;
        margin-left: 2%;
    }

}
/* --- 570 --- */

@media only screen and (max-width: 570px) {
.logo {
width:230px;
}
.header h1 {
    font-size: 32px;
margin-right:0;
}
.header .give, .header .me, .header .more {
    margin-right: 10px;
}
.header .slides h2 {
    font-size: 21px;
}
.header .slides img {
    height: 60px;
    margin-right: 10px;
}
.head-button {
font-size:24px;
/*width: 50%;*/
width: 300px;
}
.slide2 .block50 strong {
font-size:42px;
}
.slide2 .block50, .slide4 .block2000 {
font-size:18px;
}
.slide2 .block50, .slide4 .block2000 {
max-width: 260px;
}
.slide2{
    height: 50px !important;
}
.slides{
    height: 50px !important;
}
.slide4 .block2000 .upto {
width:44px;
font-size:18px;
}
.slide4 .block2000 strong {
    font-size: 46px;
}

.tradingblock {
border-right:none;
width:100%;
}
.greyblock img {
margin-top:0;
margin-bottom:0;
}
}