/*** GENERAL ***/

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

body img {
    max-width: 100%!important;
}

body a {
    text-decoration: none!important;
}

body * {
    outline: none!important;
}

body hr {
    border-top: 4px solid #66cc00;
    max-width: 80px;
    margin-left: 0;
    border-radius: 2px;
}

/*** HEADER ***/


.home {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background: url(../img/intro-bg-1.jpg);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    z-index: 1;
    background-attachment: fixed;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(87, 90, 90, 0.7);
    /* background: rgba(12, 43, 114, 0.7); */
    opacity: 0.9;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.home .container {
    padding-top: 60px;
}

.logo-wrapper, .header-box-left, .join-box, .arrow-box > div {
    z-index: 3;
}

.logo-img {
    max-width: 250px;
}

.join-box {
    padding: 30px 20px 20px 20px;
    background: rgba(0,0,0,0.4);
    border-style: none;
    border-radius: 5px;
    text-align: center;
}

.join-box hr, .features-mobile hr, .communicate hr {
    margin-left: auto;
}

.join-box p {
    font-size: 18px;
    color: #ccc;
}

.join-box p:first-child {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

.join-box input {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border-radius: 3px;
    border-color: transparent;
    height: 50px;
    margin-bottom: 20px;
}

.join-box div:last-child input {
    background-color: #66cc00;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.header-box-left {
    padding: 130px 0;
}

.header-box-left h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.header-box-left h2 {
    font-size: 25px;
    line-height: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.header-box-left p {
    font-size: 20px;
    line-height: 29px;
    color: white;
}

.arrow-box {
    text-align: center;
    padding: 60px 0;
    color: #fff;
}

.arrow-box i {
    line-height: 50px;
    font-size: 32px;
}

/*** FEATURES ***/

.features {
    background-color: #eee;
    padding: 20px 0;
}

.single-feature {
    border-right: 1px solid #dedede;
}

.single-feature:last-child {
    border-right: none;
}

.features-mobile {
    padding-top: 130px;
    margin-bottom: 80px;
}

.features-mobile h2, .call-to-action h2, .communicate h2 {
    font-size: 36px;
    color: #444;
    font-weight: 700;
}

.features-mobile-subtitle {
    font-size: 16px;
    color: #888;
}

.single-mobile-feature {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.single-mobile-feature h4 {
    color: #444;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
}

.single-mobile-feature p, .details > p, .communicate p {
    color: #888;
    font-size: 16px;
    margin: 35px 0;
}

/*** CALL TO ACTION ***/

.call-to-action {
    padding-top: 40px;
    padding-bottom: 80px;
    background: rgba(244,244,244,1);
    border-style: none;
}

.details, .image {
    padding-left: 5px;
    padding-right: 5px;
}

.details h5 {
    font-size: 18px;
    font-weight: 700;
    color: #444;
    margin: 0;
}

.details-desc {
    font-size: 16px;
    color: #888;
    margin-top: 5px;
    margin-bottom: 35px;
}

/*** COMMUNICATE ***/

.communicate {
    padding-top: 110px;
    padding-bottom: 100px;
}

.communicate button {
    background-color: #66cc00;
    color: #fff;
    padding: 21px 110px;
}

.communicate button a {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
}

.communicate button:hover {
    background-color: #71b200;
}

.communicate button a:hover {
    color: #fff;
}

/*** CONTACT ***/

.contact {
    background-color: #000000;
    padding: 57px 0;
    color: #ccc;
    line-height: 21px;
}

.contact a {
    color: #ccc;
}

.contact a:hover {
    color: #23527c;
    -webkit-transition: all 200ms ease-in 1s;
    -moz-transition: all 200ms ease-in 1s;
    -o-transition: all 200ms ease-in 1s;
    transition: all 200ms ease-in 1s;
}

.social-link {
    display: inline-block;
    font-size: 24px;
    padding: 25px 10px;
}

/*** RIGHTS ***/

.rights {
    background-color: #00697b;
    color: #bbb;
    padding: 25px 0;
}

.rights p {
    font-size: 14px;
    line-height: 12px;
    margin: 0;
}

/*** RESPONSIVE ***/

@media (max-width: 991px) {
    .details, .image, .header-box-left, .logo-wrapper, .contact-logo, .contact-desc {
        text-align: center;
    }
    
    .contact-logo {
        margin-bottom: 25px;
    }
    
    .details hr, .header-box-left hr {
        margin-left: auto;
    }
    
    .details img {
        margin-bottom: 15px;
    }
}