/** Included fonts */
@font-face {
    font-family: 'maven-black';
    src: url(fonts/MAVEN_PRO_BLACK.OTF);
}
@font-face {
    font-family: 'maven-bold';
    src: url(fonts/MAVEN_PRO_BOLD.OTF);
}
@font-face {
    font-family: 'maven-medium';
    src: url(fonts/MAVEN_PRO_MEDIUM.OTF);
}
@font-face {
    font-family: 'maven-regular';
    src: url(fonts/MAVEN_PRO_REGULAR.OTF);
}
/* General */
body{
    color: #383839;
}
header{
    /*    height: 70px;*/
    padding: 20px;
    border-top: 2px solid #6d6d6f;
    border-bottom: 1px solid #48484a;
}
.header-container{
    padding: 0 80px;
}
.content{
    background: #f5f5f5;
    border-bottom: 6px solid #008aa4;
}
.carousel-caption{
    position: relative;
    width: 360px;
    text-align: left;
    right: 0;
    left: 0;
    /*    font-family: 'maven-regular';*/
    margin-top: 25px;
    float: left;
}
.carousel-caption h1, .carousel-caption h2{
    color: #008aa4;
    text-shadow: none;
}
.carousel-caption h1{
    /*    font-family: 'maven-bold';*/
    font-weight: bold;
}
.carousel-caption h3{
    color: #000;
    font-weight: bolder;
    text-shadow: none;
}
.carousel-caption p{
    color: #383839;
    text-shadow: none;
    font-size: 18px;
}
.body-line{
    margin: 30px 0;
    height: 1px;
    width: 100%;
    background: -moz-linear-gradient(left,rgba(0,0,0,0) 1%,rgba(0,0,0,.19) 25%,rgba(0,0,0,.4) 52%,rgba(0,0,0,.14) 83%,rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left,rgba(0,0,0,0) 1%,rgba(0,0,0,.19) 25%,rgba(0,0,0,.4) 52%,rgba(0,0,0,.14) 83%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,rgba(0,0,0,0) 1%,rgba(0,0,0,.19) 25%,rgba(0,0,0,.4) 52%,rgba(0,0,0,.14) 83%,rgba(0,0,0,0) 100%);
}
.carousel-caption li{
    color: #383839;
    text-shadow: none;
    font-size: 18px;
}
.book{
    float: left;
    width: 30%;
    padding-left: 0;
    padding-right: 0;
}
.book img{
    width: 100%;
    margin-top: 153px;
}
.form{
    width: 30%;
    padding: 0;
    margin-top: 20px;
}
.form input{
    border-radius: 0;
    border: none;
    margin: 10px 4px;
    width: 251px;
}
.contact-form{
    padding: 20px;
    background-color: #000;
    color: #fff;
    float: left;
    width: 300px;
    margin-top: 30px;
    border-top: 6px solid #008aa4;
    /*    height: 370px;*/
}
.contact-form .first-name, .contact-form .last-name{
    width: 122px;
    float: left;
}
.contact-form .first-name{
    margin-right: 4px;
}
.form-add{
    margin-top: -53px;
}
.submit {
    color: #fff;
    display: block;
    margin: 22px auto;
    height: 47px;
    border-radius: 9px;
    border: 1px solid #0991f3;
    text-transform: uppercase;
    font-size: .9em;
    background: #fd6f33;
    background: -moz-linear-gradient(top,rgba(28,159,252,1) 44%,rgba(9,145,243,1) 61%);
    background: -webkit-linear-gradient(top,rgba(28,159,252,1) 44%,rgba(9,145,243,1) 61%);
    background: linear-gradient(to bottom,rgba(28,159,252,1) 44%,rgba(9,145,243,1) 61%);
    width: 260px;
}
.submit:hover {
    background: #db4a0d;
    background: -moz-linear-gradient(top,rgba(9,145,243,1) 39%,rgba(28,159,252,1) 56%);
    background: -webkit-linear-gradient(top,rgba(9,145,243,1) 39%,rgba(28,159,252,1) 56%);
    background: linear-gradient(to bottom,rgba(9,145,243,1) 39%,rgba(28,159,252,1) 56%);
}
.form-text{
    font-size: 9px;
    margin: 10px;
}
li {
    list-style-image: url('../img/check.png');
}
.footer-container{
    padding: 20px 10%;
    text-align: center;
}
.copyright{
    margin-top: 20px;
}
.legal{
    text-align: left;
    font-size: 12px;
}
.slogan{
    float:right;
}
.batna-icon {
    display: inline-flex;
    width: 22px;
    height: 23px;
    background: url(img/batna.png) 0 0 no-repeat;
    margin: 9px 7px 0 0;
    float: left;
}