@media(max-width:1200px){
    .header-container{
        padding: 0;
    }
    .form{
        width: auto;
    }
    .book img{
        margin-top: 170px;
    }
}
@media(max-width:995px){
    .carousel-caption{
        width: 100%;
    }
    .contact-form{
        float: right;
    }
    .book{
        width: 50%;
    }
    .book img{
        margin-top: 0;
    }

}
@media(max-width:880px){
    .contact-form{
        float: left;
    }
}
@media(max-width:800px){
    .contact-form{
        width: 100%;
        margin-bottom: 20px;
        padding: 40px;
    }
    .contact-form .first-name, .contact-form .last-name, .form input{
        width: 100%;
    }
    .contact-form .first-name{
        margin: 10px 4px 0 4px;
    }
    .form-add{
        margin-top: -95px;
    }
    .header-container{
        padding: 20px;
    }
    .slogan {
        margin-top: 20px;
        float: left;
        width: 100%;
    }
    .footer-container{
        padding: 20px;
        width: 100%;
    }
    .partners{
        width: 100%;
    }
}
@media(max-width:600px){
    .book{
        width: 70%;
    }
}
@media(max-width:400px){
    .submit, .book{
        width: 100%;
    }
}

