/** Start Responsive
Author: Dragana Poznan 01/2017*/
@media (max-width: 1680px) {
    .section .carousel-caption{
        left: 20%;
    }
    .home-container img{
        margin-left: 6%;
    }
}
@media (max-width: 1600px) {
    .section .carousel-caption{
        top: 5%;
        left: 18%;
    }
}
@media (max-width: 1400px) {
    .section .carousel-caption{
        left: 13%;
    }

}
@media (max-width: 1300px) {
    .section .carousel-caption{
        width: 400px;
    }
    .section .carousel-caption h1{
        font-size: 60px;
		
    }
    .section .carousel-caption p{
        font-size: 35px;
		    }
}
@media (max-width: 1200px) {
    .home-container img{
        margin-left: 0;
    }
    .section .carousel-caption{
        left: 10%;
    }
}
@media (max-width: 1000px) {
    .home-container{
        margin-top: 20px;
        width: 900px;
    }
    .home-container img{
        /*        width: 100%;
                margin: 30px 0;*/
    }
}
@media (max-width: 900px) {
    .home-container{
        width: 90%;
    }
    .home-container img{
        width: 100%;
    }
    .contact-form{
        width: 100%;
        margin: 0;
        margin-top:40px;
    }
}
@media (max-width: 800px) {
    .section{
        height: 950px;
    }
    .section .carousel-caption{
        width: 100%;
    }
    .section .carousel-caption h1{
        font-size: 50px;
    }
    .section .carousel-caption p{
        font-size: 35px;
		width: 80%;
    }
	
    .started-earning h3{
        font-size: 12px;
    }
    .started-earning:hover{
        letter-spacing: 3px;
    }
}
@media (max-width: 400px) {
    .section{
        height: 800px;
    }
    .section .carousel-caption h1{
        text-transform: uppercase;
    }
    .section .carousel-caption p{
        visibility: hidden;
		
    }
    .submit{
        width: 100%;
    }
}



