<!-- Modal -->
<div id="clientReportModal" class="modal fade" role="dialog">
    <div class='modal-dialog'>

            <!-- Modal content-->
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal' onclick='clearModal();'>&times;</button>
                    <h4 class='modal-title'>CLIENT REPORT</h4>
                </div>
                <div class='modal-body'>
                    <h5>Client list</h5>
                    <div class="modal-table-wrapper">
                        <table>
                        <thead>
                            <tr>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td>Email</td>
                                <td>Country</td>
                                <td>Registered</td>
                                <td>Trade Accounts</td>
                            </tr>
                        </thead>
                        <tbody id="clientReport">
                     
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-default' data-dismiss='modal' onclick='clearModal();'>Close</button>
                </div>
            </div>

          </div>
</div>