/* =============================================== */
/* StockSTP Responsive Registration form 1.0.0 */
/* =============================================== */

.regform.form-xs div{
	align-content: center;
}

.no-padding-left { padding-left: 0px !important; }
.no-padding-right { padding-right: 0px !important; }

.pr1px { padding-right: 1px !important; }
.pl1px { padding-left: 1px !important; }
.pr5px { padding-right: 5px !important; }
.pl5px { padding-left: 5px !important; }
		
/* Themes */

.regform.dark { color: #333333; }
.regform.light { color: #f2f2f2; }

.regform.light { background-color: #F2F2F2; }
.regform.light .regform-container h5 { color: #0E5A8D; }
.regform.light .regform-container p { color: #666666; }
.regform.light .regform-container .checkbox label,
.regform.light .regform-container .checkbox label a { color: #999999; }
.regform.light .regform-container .form-group .form-control {
	background-color: #ffffff;
	color: #333333; 
	border: 1px solid #E6E6E6; 
}

.regform.dark { background-color: #333333; }
.regform.dark .regform-container h5 { color: #ffffff; }
.regform.dark .regform-container p { color: #ffffff; }
.regform.dark .regform-container .checkbox label,
.regform.dark .regform-container .checkbox label a { color: #ffffff; }
.regform.dark .regform-container .form-group .form-control { 
	background-color: #ffffff;
	color: #333333; 
	border: 1px solid #ffffff; 
}

.regform.blue { background-color: #0E5A8D; }
.regform.blue .regform-container h5 { color: #ffffff; }
.regform.blue .regform-container p { color: #ffffff; }
.regform.blue .regform-container .checkbox label,
.regform.blue .regform-container .checkbox label a { color: #ffffff; }
.regform.blue .regform-container .form-group .form-control {
	background-color: #ffffff;
	color: #333333; 
	border: 1px solid #ffffff; 
}	

.regform.white { background-color: #ffffff; }
.regform.white .regform-container h5 { color: #0E5A8D; }
.regform.white .regform-container p { color: #666666; }
.regform.white .regform-container .checkbox label,
.regform.white .regform-container .checkbox label a { color: #999999; }
.regform.white .regform-container .form-group .form-control {
	background-color: #f2f2f2;
	color: #333333; 
	border: 1px solid #E6E6E6; 
}
	
.regform.light.light-transparent { background-color: rgba(242, 242, 242, 0.9) !important; }
.regform.dark.dark-transparent { background-color: rgba(51, 51, 51, 0.8) !important; }
.regform.blue.blue-transparent { background-color: rgba(14, 90, 141, 0.8) !important; }
.regform.white.white-transparent { background-color: rgba(255, 255, 255, 0.9) !important; }

.regform .btn-green {
	background-color: #8DC74B;
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	background: repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%);
	background: -webkit-repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%);
	background: -o-repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%);
	background: -moz-repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%);
	border-top: 1px solid #add07e;
	border-right: 1px solid #add07e;
	border-bottom: 1px solid #719f3c;
	border-left: 1px solid #719f3c;
}

.regform .btn-white {
	background-color: #8DC74B;
	color: #369;
	font-size: 20px;
	font-weight: 500;
	background: repeating-linear-gradient(#ffffff, #ffffff 50%, #e6e6e6 50%, #e6e6e6 100%);
	background: -webkit-repeating-linear-gradient(#ffffff, #ffffff 50%, #e6e6e6 50%, #e6e6e6 100%);
	background: -o-repeating-linear-gradient(#ffffff, #ffffff 50%, #e6e6e6 50%, #e6e6e6 100%);
	background: -moz-repeating-linear-gradient(#ffffff, #ffffff 50%, #e6e6e6 50%, #e6e6e6 100%);
	border-top: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
}

.regform .form-control:-moz-placeholder { color: #333333; }
.regform .form-control::-moz-placeholder { color: #333333; }
.regform .form-control::-webkit-input-placeholder { color: #333333; }
.regform .form-control:-ms-input-placeholder { color: #333333; }


.form-group #mt4_select_currencies.form-control {
	border: 1px solid #E6E6E6; 
}

	
/* Form style */

.regform {
}
.regform .regform-container {
	font-size: 14px;
	padding: 30px 20px 20px 25px;
}
@media (min-width: 992px) {
	.regform .regform-container { 
		padding: 30px 35px 20px 40px; 
	}
	.regform .regform-container.logged-in {
		padding: 160px 40px;
	}
}
.regform .regform-container.logged-in #button_return {
	margin-top: 10px;
}
.regform .regform-container .form-title {
	font-size: 24px;
	font-weight: 300;
	margin: 0px 0px 12px;
	text-align: center;			
}

.regform .regform-container .confirm-block .form-group {
	margin-bottom: 5px;
}

/* Responsive form-group class */
.regform .regform-container .form-group {
	position: relative;
	min-height: 1px;
	float: left;
	height: auto;

	padding-left: 0;
	padding-right: 5px;
	width: 100%;
}
.regform.form-column-2 .regform-container .form-group {
	width: 50%;
}
.regform.form-column-3 .regform-container .form-group {
	width: 33.3333%;
}

/* Responsive phone-prefix */
.regform .regform-container .phone-prefix {
	position: relative;
	min-height: 1px;
	float: left;
	height: auto;

	padding-left: 0;
	padding-right: 5px;
	width: 25%;
}
.regform.form-column-2 .regform-container .phone-prefix {
	width: 33.3333%
}
.regform.form-column-3 .regform-container .phone-prefix {
	width: 25%;
}

/* Responsive phone-main */
.regform .regform-container .phone-main {
	position: relative;
	min-height: 1px;
	float: left;
	height: auto;

	padding-left: 0;
	padding-right: 0;
	width: 75%;
}
.regform.form-column-2 .regform-container .phone-main {
	width: 66.66667%
}
.regform.form-column-3 .regform-container .phone-main {
	width: 75%;
}

/* Responsive form-footer */
.regform .regform-container .form-footer .form-group {
	width: 100%;
}

/* Form input / select styling */
.regform .regform-container .form-group .form-control {
	border-radius: 0px;
	box-shadow: none;
}				
.regform .regform-container .form-group input[type="text"],
.regform .regform-container .form-group input[type="email"],
.regform .regform-container .form-group select {
	font-size: 16px !important;
	font-weight: 300;
	height: 40px;
	padding: 5px 5px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	font-size: 18px;
}
.regform .regform-container .form-group select option:disabled {
	color: #cccccc;
}
@media (min-width: 768px) {
	.regform .regform-container .form-group input[type="text"],
	.regform .regform-container .form-group input[type="email"],
	.regform .regform-container .form-group select {
		padding: 5px 15px;
	}
}


/* start tooltip styles */
.regform .regform-container .form-group .tooltip.top { 
	position: absolute; 
	left: 40px !important;
	border-radius: 0px !important; 
	width: 100%; 
	margin-top: -5px !important; 
}
.regform .regform-container .form-group .tooltip.top .tooltip-inner { 
	border-radius: 0px !important; 
	background-color: #3298CB !important;
	color: #ffffff !important;
	padding: 15px 10px; 
	max-width: 100%;
	margin-left: -40px; 
}

.regform .regform-container	.form-group .tooltip.top .tooltip-arrow {
	left: 50%;
	border-top-color: #3298CB !important;
	border-width: 0 5px 5px;
}
.regform .regform-container .form-group .tooltip.in {
filter: alpha(opacity=100) !important;
	opacity: 1 !important;
}

.regform .regform-container .form-group .tooltiplink { 
	position: absolute; 
	top: 11px; 
	right: 10px;
	color: #333333 !important;
	cursor: pointer;
}
.regform .regform-container .form-group.select .tooltiplink { 
	right: 25px;
}
.regform .regform-container .form-group .tooltiplink:hover { color: #3298CB !important; }
/* end tooltip styles */


/* start popover styles */
.regform .regform-container .form-group .popover.top {
	left: 0px !important;
	border: 0px !important;
	box-shadow: none;
	border-radius: 0px !important;
	width: 100%;
	max-width: 100% !important;
	border-radius: 0px !important;
	background-color: #3298CB;
	color: #ffffff;
}
.regform .regform-container .form-group .popover.top .popover-title { display: none; }
.regform .regform-container .form-group .popover.top .arrow {
	left: auto !important;
	right: 5px !important;
	border-top-color: #3298CB;
}
.regform .regform-container .form-group .popover.top > .arrow::after {
	border-top-color: #3298CB;		
}

.regform .regform-container .form-group .popover.error.top {
	background-color: #cc5555;
}
.regform .regform-container .form-group .popover.error.top .arrow,
.regform .regform-container .form-group .popover.error.top > .arrow::after {
	border-top-color: #cc5555;
}
/* end popover styles */


.regform .regform-container .form-group .button {
	min-height: 50px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0px auto;
	width: 100%;
	max-width: 290px;
	padding: 6px 6px;
}

.regform .regform-container .checkbox { 
	float: left; 
	width: 100%;
	margin-top: 0px;
}		

.regform .regform-container p.risk-warning {
	width: 100%;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	margin: 0px;
}


/* start validation styles */
.regform .regform-container .form-group input:required:valid,
.regform .regform-container .form-group select:required:valid {
	color: #3298CB;
	font-weight: 500;
}
.regform .regform-container .form-group select option:not(:checked) {
	color: #333333;
	font-weight: 300;
}

.regform .regform-container .form-group.has-error input.form-control,
.regform .regform-container .phone-prefix.has-error input.form-control,
.regform .regform-container .phone-main.has-error input.form-control,
.regform .regform-container .form-group.has-error textarea.form-control,
.regform .regform-container .form-group.has-error textarea.form-control,
.regform .regform-container .form-group.has-error select.form-control { 
	border-color: #CC3333;
	color: #CC3333;
	background-color: #FFC0CB;
}

.regform .regform-container .form-group.has-error select.form-control option.option { 
	border-color: #CC3333;
	color: #000;
}
.regform .has-error input[type="checkbox"] { outline: 1px solid #CC3333; }

.regform .glyphicon.glyphicon-remove { display: none; position: absolute; }
.regform .has-error .glyphicon.glyphicon-remove	{ 
	display: block; 
	position: absolute;
	color: #CC3333;
	right: 30px;
	top: 13px;
}
.regform .phone-prefix.has-error .glyphicon.glyphicon-remove {
	right: 12px;
}
.regform .phone-main.has-error .glyphicon.glyphicon-remove {
	right: 25px;
}

.regform .form-group.has-error .form-control:-moz-placeholder { color: #CC3333; }
.regform .form-group.has-error .form-control::-moz-placeholder { color: #CC3333; }
.regform .form-group.has-error .form-control::-webkit-input-placeholder { color: #CC3333; }
.regform .form-group.has-error .form-control:-ms-input-placeholder { color: #CC3333; }

/* end validation styles */

/* thank you message styles */

.regform #thank-you-message {
	display: none;
}
.regform #thank-you-message p {
	font-size: 16px;
}
.regform #thank-you-message p.form-title {
	font-size: 26px;
	margin-bottom: 22px;
}
.regform #thank-you-message #button_proceed {
	margin-top: 20px;
}

/* end thank you message styles */

/* Element Queries
 * 
 * Replacement of media queries based on the class attached to the
 * register form based on bootstrap breakpoints
 */

/* md */
.regform.form-md .regform-container .form-title { text-align: left; }
.regform.form-md .regform-container .form-group button { float: left; margin: 0px; }
.regform.form-md .regform-container p.risk-warning { text-align: left; }

/* lg */
.regform.form-lg .regform-container .form-title { text-align: left; }
.regform.form-lg .regform-container .form-group button { float: left; margin: 0px; max-width: 348px; }
.regform.form-lg .regform-container p.risk-warning { text-align: left; }	

/* MT4 Message */
.mt4-message .modal-footer .currency-message {
	font-size: 16px;
	padding-top: 6px;
}
.mt4-message .modal-footer .currency-message .new-currency-selection {
	color: #3298CB;
}
.mt4-message .modal-footer .continue-registration {
	margin-right: 5px;
}
.mt4-message .modal-body .form-group {
	width: 100% !important;
}
.mt4-message .modal-body #mt4_select_currencies {
	margin-top: 6px;
}

#poland_margin_disclosure {
	margin-bottom: 10px;
	display: none;
	
}
