/**
 * Global CSS file, shared by all landing pages
 */

/* Easy Forex Colors */
body {
    font-family: arial;
}

.border-color-black {
    border-color: #333;
}

.border-style-dotted {
    border-style: dotted;
}

.border-style-solid {
    border-style: solid;
}

.border-width-xs {
    border-width: 1px;
}

.border-width-sm {
    border-width: 2px;
}

.border-width-md {
    border-width: 3px;
}

.border-width-lg {
    border-width: 4px;
}

.btn-vertical-hover,
.btn-horizontal-hover {
    background-repeat: no-repeat;
    cursor: pointer;
}

.btn-vertical-hover {
    background-position: top;
}

.btn-vertical-hover:hover {
     background-position: bottom;
}

.btn-horizontal-hover {
    background-position: left;
}

.btn-horizontal-hover:hover {
     background-position: right;
}

.btn-xlarge {
    padding: 19px 24px;
    font-size: 24px;
    line-height: normal;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


/* Button color classes */
.btn-lime {
    color: #ffffff;
    font-weight:bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #8bce48;
    *background-color: #8bce48;
    background-image: -moz-linear-gradient(top, #8ac44b, #7baf42);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8ac44b), to(#7baf42));
    background-image: -webkit-linear-gradient(top, #8ac44b, #7baf42);
    background-image: -o-linear-gradient(top, #8ac44b, #7baf42);
    background-image: linear-gradient(to bottom, #8ac44b, #7baf42);
    background-repeat: repeat-x;
    border-color: #7baf42 #7baf42 #8ac44b;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ac44b', endColorstr='#ff7baf42', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-lime:hover,
.btn-lime:focus,
.btn-lime:active,
.btn-lime.active,
.btn-lime.disabled,
.btn-lime[disabled] {
    color: #ffffff;
    background-color: #7baf42;
    *background-color: #7baf42;
}

.btn-crimson {
    color: #ffffff;
    font-weight:bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #b5202e;
    *background-color: #b5202e;
    background-image: -moz-linear-gradient(top, #b21f2d, #971c1f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b21f2d), to(#971c1f));
    background-image: -webkit-linear-gradient(top, #b21f2d, #971c1f);
    background-image: -o-linear-gradient(top, #b21f2d, #971c1f);
    background-image: linear-gradient(to bottom, #b21f2d, #971c1f);
    background-repeat: repeat-x;
    border-color: #971c1f #971c1f #b21f2d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb21f2d', endColorstr='#ff971c1f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-crimson:hover,
.btn-crimson:focus,
.btn-crimson:active,
.btn-crimson.active,
.btn-crimson.disabled,
.btn-crimson[disabled] {
    color: #ffffff;
    background-color: #971c1f;
    *background-color: #971c1f;
}


/* Font color classes */
.font-color-white {
    color: #fff;
}

.font-color-bright-blue {
    color: #08c;
}

.ef-primary,
.ef-blue {
    color:#369;
}

.ef-separator,
.ef-secondary,
.ef-green {
    color:#6C0;
}

/* Margin classes */
.margin-auto {
    margin: 0 auto;
}

.margin-left-xxs {
    margin-left:5px;
}

.margin-left-xs {
    margin-left:10px;
}

.margin-left-sm,
.shift-right {
    margin-left:20px;
}

.margin-left-md {
    margin-left:30px;
}

.margin-left-lg {
    margin-left:40px;
}

.margin-right-xxs {
    margin-right:5px;
}

.margin-right-xs {
    margin-right:10px;
}

.margin-right-sm {
    margin-right:20px;
}

.margin-right-md {
    margin-right:30px;
}

.margin-right-lg {
    margin-right:40px;
}

.margin-top-xxs {
    margin-top:5px;
}

.margin-top-xs,
.shift-down-least {
    margin-top:10px;
}

.margin-top-sm,
.shift-down {
    margin-top:20px;
}

.margin-top-md,
.med-shift-down {
    margin-top:30px;
}

.margin-top-lg,
.two-shifts-down {
    margin-top:40px;
}

.margin-bottom-xxs {
    margin-bottom:5px;
}

.margin-bottom-xs {
    margin-bottom:10px;
}

.margin-bottom-sm {
    margin-bottom:20px;
}

.margin-bottom-md {
    margin-bottom:30px;
}

.margin-bottom-lg {
    margin-bottom:40px;
}

.margin-bottom-xl {
    margin-bottom: 50px;
}

.reverse-margin-top {
    margin-top:-20px;
}

.reverse-margin-top-xs {
	margin-top: -10px;
}

.reverse-margin-top-sm {
	margin-top: -20px;
}

.reverse-margin-top-md {
	margin-top: -30px;
}

.reverse-margin-top-lg {
	margin-top: -40px;
}

.minus-margin-top {
    margin-top:-10px;
}


/* Padding classes */

.padding-top-xs {
    padding-top:10px;
}

.padding-top-sm {
    padding-top:20px;
}

.padding-top-md {
    padding-top:30px;
}

.padding-top-lg {
    padding-top:40px;
}

.padding-right-xxs {
    padding-right: 5px;
}

.padding-right-xs {
    padding-right: 10px;
}

.padding-right-sm {
    padding-right: 20px;
}

.padding-right-md {
    padding-right: 30px;
}

.padding-right-lg {
    padding-right: 40px;
}

.padding-bottom-xs {
    padding-bottom:10px;
}

.padding-bottom-sm {
    padding-bottom:20px;
}

.padding-bottom-md {
    padding-bottom:30px;
}

.padding-bottom-lg {
    padding-bottom:40px;
}

.padding-left-xxs {
    padding-left: 5px;
}

.padding-left-xs {
    padding-left: 10px;
}

.padding-left-sm {
    padding-left: 20px;
}

.padding-left-md {
    padding-left: 30px;
}

.padding-left-lg {
    padding-left: 40px;
}


/* TEXT - Fonts,  list */
.text-bold {
    font-weight: bold;
}

.heading {
    font-size: 17.5px;
    line-height: 18px;
    margin-bottom:0;
    padding-bottom:0;
}

.sub-heading {
    font-size: 17.5px;
    line-height: 17.5px;
    margin-top:0;
    padding-top:0;
    font-weight:bold;
}

.ef-list,
ul.content-list,
.main-content ul {
    list-style:none;
}

ul.content-list li,
.main-content ul li {
    margin-bottom: 5px;
    background: url('/images/10x10_greenbullet.png') left 6px no-repeat;
    padding-left: 10px;
    font-size:12px;
}

.ef-list li {
    background: url('/images/10x10_greenbullet.png') no-repeat left 6px;
    margin-left: -15px;
    padding-left: 15px;
}

/* iframe */

iframe{
	border:0;
	overflow:hidden;
}

.adjust-font-size {
    display: inline-block;
}

/* 
 floats that never change even in arabic
 */

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.no-wrap {
	white-space:nowrap;
}

/******************************
 	Chinese language
 ******************************/

[lang=zh-hans] body{
	font-family:"Microsoft YaHei","SimHei", arial; 
}
.no-border {
        border: 0 !important;
}
.no-bg {
        background: transparent !important;
}

/**
 * Copied from bootstrap-3 framework styles in ef landing pages
 */
html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: 300;
	line-height: normal;
}

@media (max-width: 979px) and (min-width: 768px) {
	html {
		font-size: 52.5%;
	}
}

@media (max-width : 767px) {
	html {
		font-size: 40.5%;
	}
}

/* Text / Font Settings */
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	text-transform: uppercase;
	color: #0f5b8e;
	margin: 0 0 10px;
}

.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}

h1, .h1 { font-size: 60px; }	
h2, .h2 { font-size: 56px; }
h3, .h3 { font-size: 50px; }	
h4, .h4 { font-size: 40px; }	
h5, .h5 { font-size: 28px; }	
h6, .h6 { font-size: 24px; }

p {
	font-size: 24px;
	color: #333;
}

.footer {
	background-color: #f2f2f2;
}
.footer p {
	font-size: 16px;
}

.white { color: #ffffff; }
.green { color: #8CC64A; }
.blue { color: #0f5b8e; }
.black { color: #333333; }
.black-shadow { text-shadow: 2px 1px #333333; }

.light { font-weight: 300; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }

/* Image Position */
.image-center {
	display: block;
	margin: 0px auto;
}

/* Button Styling */
.button {
	min-height: 50px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0px auto;
	padding: 12px 6px;
	font-size: 20px;
	font-weight: 500;
	line-height: 22px;
}
.button:hover {
	text-decoration: none;
}
.btn-green {
	background-color: #8DC74B;
	color: #ffffff;
	background: -webkit-repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%); /* For Safari 5.1 to 6.0 */
	background: -o-repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%); /* For Firefox 3.6 to 15 */
	background: repeating-linear-gradient(#add07e, #add07e 50%, #8DC74B 50%, #8DC74B 100%); /* Standard syntax */
	border-top: 1px solid #add07e;
	border-right: 1px solid #add07e;
	border-bottom: 1px solid #719f3c;
	border-left: 1px solid #719f3c;
}

/* Modal Styling */

.modal-content {
	background-color: #f2f2f2;
	border-radius: 0;
}
.modal-content .modal-body,
.modal-content .modal-body p,
.modal-content .modal-footer,
.modal-content .modal-footer p {
	font-size: 14px;
	color: #333 !important;
}
.modal-content .modal-header,
.modal-content .modal-footer {
	padding: 0;
}
.modal-content .modal-header {
	border-bottom: 0;
	min-height: 23px;
}
.modal-content .modal-header .close {
	font-weight: 400;
	font-size: 19px;
	opacity: 1;
	text-shadow: none;
	color: #fff;
	margin: 1px;
	padding: 1px 6px;
	background-color: #3398CC;
}
.modal-content .modal-footer {
	border-top: 0;
	padding: 0 15px 10px 15px;
	text-align: left;
	color: #333 !important;
}
.modal-content .modal-footer button {
	margin-bottom: 5px;
}

@media (min-width: 768px) {
    #cultureChangeModal .modal-dialog {
        width:600px;
        margin: 30px auto
    }

    #cultureChangeModal .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5)
    }

}

#cultureChangeModal h4{
	color: #0F5B8E;
	font-size: 18px;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 0;
	text-transform: none;
	text-align: left;
}

#cultureChangeModal.modal .modal-body {
    padding: 0 5% 15px;
}
#cultureChangeModal .btn-cta {
    color: #FFFFFF;
    border-top-color: #ADD07E;
    border-right-color: #ADD07E;
    border-bottom-color: #719F3C;
    border-left-color: #719F3C;
    background: #98cc5c;
    background: -moz-linear-gradient(top, #98cc5c 0%, #98cc5c 50%, #8dc74b 50%, #8dc74b 50%, #8dc74b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98cc5c), color-stop(50%,#98cc5c), color-stop(50%,#8dc74b), color-stop(50%,#8dc74b), color-stop(100%,#8dc74b));
    background: -webkit-linear-gradient(top, #98cc5c 0%,#98cc5c 50%,#8dc74b 50%,#8dc74b 50%,#8dc74b 100%);
    background: -o-linear-gradient(top, #98cc5c 0%,#98cc5c 50%,#8dc74b 50%,#8dc74b 50%,#8dc74b 100%);
    background: -ms-linear-gradient(top, #98cc5c 0%,#98cc5c 50%,#8dc74b 50%,#8dc74b 50%,#8dc74b 100%);
    background: linear-gradient(to bottom, #98cc5c 0%,#98cc5c 50%,#8dc74b 50%,#8dc74b 50%,#8dc74b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98cc5c', endColorstr='#8dc74b',GradientType=0 );
}

#cultureChangeModal .btn-wide.btn-lg {
    padding-right: 40px;
    padding-left: 40px;

    border-radius: 0;
    height: auto;
    margin: 0px auto;
    white-space: normal;
}

#cultureChangeModal .culture-buttons {
    margin: 20px 0 25px 0;
}

#cultureChangeModal p.text-size-sm {
	font-size: 12px;
}





/* Area Style */

.risk-disclaimer {
	font-size: 10px;
	font-weight: 400;
	padding: 10px 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	text-align: center;
	color: #666;
	margin: 12px 0;
}